[2020-09-13 00:25] AArnott opened #301 "oh-my-posh pops ShouldProcess confirmation prompt on every single prompt"
With `oh-my-posh` 2.0.468 installed, and `$ConfirmPreference='medium'` set in the PowerShell environment, every single PowerShell prompt asks this if we really want to remove `realLASTEXITCODE`:

[code]
I believe this regressed with #289 since that introduced the `Remove-Variable` statement.
Adding ` -Confirm:$false` will suppress this prompt.

[2020-09-15 06:55] #301 closed

[2020-09-15 16:59] haosmos opened #304 "Is there a way to configure any of the available themes or PowerShell, in general, to display the node.js version?"
Thank you for the wonderful PowerShell theming engine!

I use nvm as the node version manager for node.js and I want to see on the command line which version of node is currently in use without having to enter the command in the terminal:

`node -v
`

It would be great if it is possible)

If possible, please tell me how to configure (in theme or PowerShell settings) the output of node.js on the ri

[2020-09-17 10:55] JanDeDobbeleer commented on #304
Hey @haosmos . I just published my [new engine](https://www.powershellgallery.com/packages/go-my-posh). And at the time of writing I'm adding support for `nvm`. That way you can create the prompt you're seeing here easily through config without having to resort to writing code.

You can install and use it as follows

[code]

if you want, you can also list all available themes

[code]

I will try t

[2020-09-17 10:55] #304 closed

[2020-09-17 10:58] JanDeDobbeleer commented on #298
Hey @v1nay90  . I just published my [new engine](https://www.powershellgallery.com/packages/go-my-posh). That one has a first version of [your theme](https://github.com/JanDeDobbeleer/go-my-posh/blob/master/Themes/aliens.json) :-)

You can install and use it as follows

[code]

if you want, you can also list all available themes

[code]

Feel free to create an issue there as well to follow up in c

[2020-09-17 10:58] #298 closed

[2020-09-17 11:00] JanDeDobbeleer commented on #297
Hey @kevswims. I just published my [new engine](https://www.powershellgallery.com/packages/go-my-posh). That one works independently of posh-git.

You can install and use it as follows

[code]

if you want, you can also list all available themes

[code]

Feel free to create an issue there as well to follow up in case you find problems with the `git` indication or anything else.
Know that when it c

[2020-09-17 11:00] #297 closed

[2020-09-17 11:03] JanDeDobbeleer commented on #272
Hey @cosmosb AND @Cruik. I just published my [new engine](https://www.powershellgallery.com/packages/go-my-posh). That's the one to [follow-up progress](https://github.com/JanDeDobbeleer/go-my-posh/issues/4) regarding this is about.

You can install and use it as follows

[code]

if you want, you can also list all available themes

[code]

I will keep an eye on `oh-my-posh`, but I'll favor `go-my-

[2020-09-17 11:03] #272 closed

[2020-09-17 11:09] JanDeDobbeleer commented on #251
Hey @cardin. I just published my [new engine](https://www.powershellgallery.com/packages/go-my-posh). That one has no trouble with startup/rendering times.

You can install and use it as follows

[code]

if you want, you can also list all available themes

[code]

Feel free to create an issue there as well to follow up in case you find problems.
I will keep an eye on `oh-my-posh`, but I'll favor `

[2020-09-17 11:09] #251 closed

[2020-09-17 11:11] JanDeDobbeleer commented on #296
Hey @aaronsb. I just published my [new engine](https://www.powershellgallery.com/packages/go-my-posh). That one has support for hex color codes (actually the only way to define the colors)

You can install and use it as follows

[code]

if you want, you can also list all available themes (or create your own by copy-pasting one and using that on `Set-PoshPrompt`)

[code]

Feel free to create an iss

[2020-09-17 15:51] aaronsb commented on #296
Very exciting! I'll be trying this today. :)

[2020-09-17 18:51] JanDeDobbeleer commented on #8
Hey @aaronsb, that most likely depends on the font being used. I used nerd fonts [Meslo LG M](https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/Meslo.zip) (top of my head).

[2020-09-17 18:54] JanDeDobbeleer commented on #8
This shows another bug as well, I need to make the battery prompt for UNIX and Windows too 😅

[2020-09-17 19:13] aaronsb commented on #8
I forgot about Meslo fonts. I've been using Cascadia Code (PL) for a while now.

Time to enumerate /sys/class/power_supply/ ? ;)

[2020-09-17 19:24] JanDeDobbeleer commented on #8
I'll update the README if you can confirm the right font resolves the issue. And I'll create a new issue for the battery indicator 👍🏻

[2020-09-17 20:16] aaronsb commented on #8
Yes, loading Meslo fonts lets the character fallback. Cascadia Code + Meslo FTW!

![image](https://user-images.githubusercontent.com/2738471/93523508-fdf44780-f8e7-11ea-8ec1-ab7c09224fd0.png)

[2020-09-18 18:19] JanDeDobbeleer commented on #8
So pretty ❤️

[2020-09-19 02:04] sql-sith opened #305 "What is the $with variable / -with parameter for?"
I'm almost too embarrassed to ask this because I think I'm missing something obvious. A custom theme has one requirement: to implement a PS function called Write-Theme. That function has two parameters, `$lastCommandFailed` and `$with`. I have been mucking around with themes and noticed that the `$with` parameter never seems to have a value. So I searched the code for instances of `$with` and `-wi

[2020-09-19 18:26] JanDeDobbeleer commented on #11
That's weird as this works on multiple of my machines, I'll try to think about a root cause. I'm currently tackling #10

[2020-09-19 20:26] rishu007 opened #306 "icon with git is different"
![Capture](https://user-images.githubusercontent.com/24950362/93688531-14ff8900-fae4-11ea-9a13-ebb94d0e5b43.PNG)
icon with cross is coming it should be what is mentioned in docs which is without cross

[2020-09-19 20:36] rishu007 commented on #306
for master the icon is same whats mentioned and its different for other branches

[2020-09-19 20:36] #306 closed

[2020-09-20 01:33] imba-tjd commented on #11
The path of the module is `C:\Program Files\PowerShell\Modules\go-my-posh\0.3.0`. I installed it via `Install-Module go-my-posh -Scope AllUsers -Force` in privileged pwsh. Because if not, the module would be installed in my `documents` which is synced with my onedrive. oh-my-posh is installed in the same way and works.

[2020-09-20 05:04] JanDeDobbeleer commented on #11
It's probably PSScriptRoot which is indicating a different path in that case causing the executable not to be found. Which is strange though as oh-my-posh does the same. I'll try to reproduce it!

[2020-09-20 15:27] JanDeDobbeleer commented on #11
Upon closer inspection it's just the space in `Program Files` causing the wrong invocation 🤦🏻‍♂️ I'll see if I can create a fix for that.

[2020-09-20 17:50] JanDeDobbeleer commented on #11
@imba-tjd should be fixed!

[2020-09-21 04:37] Zlatanlong commented on #233
I have a similar one, only one whitespace, seem like a regular space. But the whitespace will disapper when I type a long word. if I move the cursor to the start and delete some letters, the last litter will stay on the screen

[2020-09-21 07:11] JanDeDobbeleer commented on #14
You can easily change the background colors so they are consistent with the one in your setting, in this case using `Write-PoshTheme` to get the json, store it elsewhere, adjust the background colors and set the location of that one as your theme using `Set-PoshPrompt -Theme mytheme.json`. Although it might be interesting to make bg colors optional (I think there's a way).

The second issue is bec

[2020-09-21 09:45] Zlatanlong commented on #233
I change the PromptSymbols.ElevatedSymbol and this problem is solevd.

[2020-09-21 18:31] JanDeDobbeleer commented on #14
This should now be OK! I did have to think out of the box for this one as transparent foreground text does not exist. Fortunately, you can reverse the ANSI color sequence meaning a transparent background (or one that isn't set) can become the foreground.

[2020-09-23 15:21] JanDeDobbeleer commented on #20
@Cruik is that on Windows? I noticed this too, but on MacOS where I could reproduce it and I have a PR open with a fix on the dependency. Let's see if I can reproduce this 👍🏻

[2020-09-23 15:25] Cruik commented on #20
Yeah its on windows,
Sorry forget to give you this Information

[2020-09-24 09:25] v1nay90 commented on #298
Thank you so much and congrats on sucessful launch of the new engine best of luck

[2020-09-24 09:30] v1nay90 commented on #298
i like what u have done to it its awesome and faster

[2020-09-25 15:36] JanDeDobbeleer commented on #305
[With](https://github.com/JanDeDobbeleer/posh-with) is actually another utility I had which shipped with oh-my-posh a long time ago. There's little use nowadays though.

[2020-09-25 18:32] JanDeDobbeleer commented on #24
Ooh, that's a Windows issue only it seems. Will fix!

[2020-09-27 18:16] JanDeDobbeleer commented on #26
I could add a switch to the properties which would allow this. For example:

[code]

Not sure if I want to make a general switch, I do get where you're coming from but it can get confusing.

What's also an option is to remove the segment from the theme altogether. A quick copy-paste, adjust and setting that as the theme will also hide it forever. Although that might take away its portability.

[2020-09-27 18:52] AjayKMehta commented on #26
`hide_error` works.

I get your point about the general switch as it may open a can of worms. I like the idea of being able to dynamically determine visibility of a segment based on condition but embedding PowerShell code in JSON is quite ugly and no point in creating your own DSL for this 😀

[2020-09-27 19:00] AjayKMehta commented on #26
@JanDeDobbeleer, one use case for a general switch or config setting for segment visibility is the following:

Say I want to add an 💾 indicator in my prompt to show that `(Get-PSReadLineOption).HistorySaveStyle` is set to `SaveIncrementally` or `SaveAtExit` and remove it if it's not set?

[2020-09-27 19:03] JanDeDobbeleer commented on #26
You could achieve that with a custom command segment. That one accepts a shell command (and the shell to run it in, here being powershell) . If the command outputs a value, it will show that value.

[2020-09-27 21:36] AjayKMehta commented on #26
I created a theme (`cool.json`) with a command segment as suggested:

https://gist.github.com/AjayKMehta/1b5324a485a9db6e7d326276ab5786cf

The command is specified as `"if ((Get-PSReadLineOption).HistorySaveStyle -ne 'SaveNothing'){'💾'} else {''}"`

It seems to run the command the first time and not work subsequently. Even if I disable saving via `Set-PSReadLineOption -HistorySaveStyle SaveNothing

[2020-09-28 06:04] JanDeDobbeleer commented on #26
It should not save state but run the command every time. I'll check!

[2020-09-28 06:13] JanDeDobbeleer commented on #26
I can reproduce this. As this is ran on a new instance of `pwsh`, it will only work IF this is set globally via for example your `$PROFILE`. Let me see if I can make it so it runs directly in your shell (which could break if you don't know what you're doing).

[2020-09-28 14:49] AjayKMehta commented on #26
Thanks. That's what I figured as I tried changing the command to `Get-Date` and it worked fine.

[2020-09-30 19:18] tig opened #309 "Modifying prompt to indicate WSL"
I use PowerShell both in Windows and WSL. My host name and user is the same in both.

Can I change the prompt on Linux to show that I'm in WSL?

[2020-10-01 13:47] tusharsadhwani commented on #299
@Stig124 what is the workaround?

[2020-10-02 05:28] deefrawley commented on #299
I have the exact same issue with the Paradox theme - it would be good if you added the workaround to the closing comment.

[2020-10-02 05:41] tusharsadhwani commented on #299
@deefrawley i got fira code (non-mono) windows compatible OTFs from nerd-fonts, and it worked fine

[2020-10-02 12:59] #305 closed

[2020-10-02 13:17] JanDeDobbeleer commented on #309
There's a environment variable you can look for: `WSL_DISTRO_NAME`. If that one's set, you know you're inside of the WSL. I'll add that context for sure to [go-my-posh](https://github.com/JanDeDobbeleer/go-my-posh).

[2020-10-02 13:17] #309 closed

[2020-10-02 13:39] tig commented on #309
Awesome. And now I know about go-my-posh. What rock have I been under?

[2020-10-02 13:47] tig commented on #309
Does go-my-posh completely replace oh-my-posh?

Does oh-my-posh now USE go-my-posh?

[2020-10-02 18:40] JanDeDobbeleer commented on #309
Not yet, but I intend to do that once we're somewhere on feature parity (only the git segment needs a few additions) That means that it will indeed use go-my-posh underneath as the go-my-posh [powershell package](https://www.powershellgallery.com/packages/go-my-posh) already does that.

[2020-10-02 18:41] JanDeDobbeleer commented on #309
To be fair, I'm only open about this for a month or so :-)

[2020-10-02 19:08] tig commented on #309
What happens if both oh-my-posh and go-my-posh are installed?

[2020-10-02 19:53] JanDeDobbeleer commented on #24
This was a hassle to chase. Turns out that creating a non-case sensitive platform was a bad idea to begin with. There can be `c:` and `C:` pointing at the same location resulting in all kinds of funky behavior. Also, having Cygwin installed overwrites `$HOME` so there's a lot of stuff on Windows which can go wrong that shouldn't.

Once I'm done writing the documentation, I'm merging this one in as

[2020-10-03 06:56] JanDeDobbeleer commented on #309
You can choose which one to use. They do not conflict with each other in terms of commands.

[2020-10-04 20:18] floh96 opened #312 "VSCode Powershell Integrated Console issue"
See screenshoots the path is displayed wrong in the Powershell Integrated Console in VSCode.
Edit: In the same powershell session sometimes it's working sometimes it's broken...
It's working in pwsh.
![1](https://user-images.githubusercontent.com/49693964/95026099-2ec9d000-068f-11eb-8dca-d60007b9b41d.PNG)
![2](https://user-images.githubusercontent.com/49693964/95026101-325d5700-068f-11eb-9e0b-55ba

[2020-10-05 18:25] JanDeDobbeleer commented on #312
Can you do me a favor and check if version 3 also has this issue? Be aware A LOT has changed under the hood, but most themes should be there already: `Install-Module oh-my-posh -Scope CurrentUser -AllowPrerelease`

See the [documentation](https://ohmyposh.dev) for more information.

[2020-10-05 18:26] JanDeDobbeleer commented on #26
Be aware the new version is now known as Oh my Posh V3 :-)

`Install-Module oh-my-posh -Scope CurrentUser -AllowPrerelease`

[2020-10-05 18:27] JanDeDobbeleer commented on #24
Be aware the new version is now known as Oh my Posh V3 :-)

Install-Module oh-my-posh -Scope CurrentUser -AllowPrerelease

[2020-10-05 18:32] JanDeDobbeleer commented on #309
@tig I finally decided what direction I will go with Go my Posh, it's going to be Oh my Posh V3 from now on. I added your request [here](https://github.com/JanDeDobbeleer/oh-my-posh3/issues/28). Should be fairly straightforward. If you want to give things a go, the [docs](https://ohmyposh.dev/) are live as well.

[2020-10-06 15:28] floh96 commented on #312
@JanDeDobbeleer it's working in version 3 👍

[2020-10-06 15:28] #312 closed

[2020-10-06 18:18] nwykes commented on #7
I've started working on this.  WIP is at https://github.com/nwykes/oh-my-posh3/tree/git_origin

[2020-10-06 19:20] JanDeDobbeleer commented on #7
The icon names are already fine, should be rather straightforward. How comfortable are you with golang?

[2020-10-06 19:30] nwykes commented on #7
I've tinkered with golang.

it's working for me locally, trying to build some tests for it and the associated doc updates, etc.

Should it default to on or off?

[2020-10-06 20:31] JanDeDobbeleer commented on #7
Looking at V2 it's off by default so I'd opt for that.

[2020-10-07 14:09] Jesper-Hustad commented on #270
Win 10 Build 18363, could not reproduce.
![image](https://user-images.githubusercontent.com/17168694/95342160-674bf280-08b7-11eb-9cb5-cf6e0c3d15ea.png)

[2020-10-07 15:41] JanDeDobbeleer commented on #270
Hey @Jesper-Hustad can you try with version 3?
See https://gomyposh.dev for more context, quite a bit has changed.

[2020-10-08 01:46] imba-tjd commented on #270
I have tested v3 with the default theme and this issue didn't happen

[2020-10-08 09:36] kwmlodozeniec opened #314 "Escape sequences in terminal"
I get weird escape sequences in my terminal on Windows 10 (I am using alacritty but the issue is present in powershell terminal itself too).
![Capture](https://user-images.githubusercontent.com/1453791/95441340-f0b00300-0951-11eb-9f75-5ec54ad68333.PNG)
Here is my powershell profile:
[code]

I am assuming there is an issue with the escape sequences as the time chunk is not pushed to the right of th

[2020-10-08 14:52] JanDeDobbeleer commented on #40
Clear, I'll have to debug that on Windows. In theory this should work, but clearly something is off.

[2020-10-08 17:12] JanDeDobbeleer commented on #40
Well. That was annoying but I have a fix.

[code]

<img width="203" alt="image" src="https://user-images.githubusercontent.com/2492783/95491498-f6313b80-0999-11eb-9d4f-e010f2c254ce.png">

Basically I can set the env var from PowerShell as there's no way Go can know you're in that location.

[2020-10-08 17:30] JanDeDobbeleer commented on #314
Yup, I'd look at using [V3](https://ohmyposh.dev) which is rewritten from scratch and works in that regard :-)

[2020-10-08 19:20] JanDeDobbeleer commented on #40
I'm going to test this manually one more time with a fresh pair of eyes tomorrow morning.

[2020-10-08 22:24] nwykes commented on #45
What theme?

[2020-10-08 22:46] aykxt commented on #45
I was using the Star theme.

[2020-10-08 23:57] nwykes commented on #45
it seems pretty responsive to me.  But this might be causing an issue on Windows?

[code]

Do you have issues with other themes?

[2020-10-09 05:13] JanDeDobbeleer commented on #45
The `command` segment seemed like a good idea but I'm starting to resent it. I'm going to look for a different solution. I haven't noticed latency, but I'm mostly on zsh which might explain that. The only segment that has a noticeable impact is `spotify`. And as @nwykes states, in theory `command` is the only one that can have an impact this negative.

[2020-10-09 06:09] JanDeDobbeleer commented on #45
For `star` specifically I will replace the command with the default `node` segment functionality as that one makes no sense anymore. I think `command` is neat when you know what you're dealing with, but the out-of-the-box themes shouldn't be using this.

[2020-10-09 15:12] JanDeDobbeleer commented on #45
@aykxt can you check to see if the latest version offers a different experience?

[2020-10-09 15:34] JanDeDobbeleer commented on #47
@AjayKMehta unfortunately running direct commands isn't possible given the compiled nature of the beast. Although I think there might be another way to offer this functionality without generating a performance hit.

I'll try to draft a solution later today/tomorrow.

[2020-10-09 16:37] aykxt commented on #45
Seems like it is a little bit faster now. But there is still some delay when I'm in a git repository.

[2020-10-09 18:38] JanDeDobbeleer commented on #45
I'll see if we can speed up things a bit in that regard.

[2020-10-09 18:53] JanDeDobbeleer commented on #47
@AjayKMehta I found a reasonable fix by thinking out of the box.
Will be available once I merge #49

[code]
<img width="964" alt="image" src="https://user-images.githubusercontent.com/2492783/95621028-56df7780-0a71-11eb-891d-830397de7c3a.png">

[2020-10-09 20:34] JanDeDobbeleer commented on #260
@arnabanimesh can you check if this is still an issue on V3? Https://ohmyposh.dev

[2020-10-10 05:36] arnabanimesh commented on #260
This issue has been resolved in V3.

[2020-10-10 05:36] #260 closed

[2020-10-10 19:56] JanDeDobbeleer commented on #45
@aykxt looking forward to seeing if the latest update makes a difference. If not, can you check if you're on the latest git version?

[2020-10-10 19:59] #270 closed

[2020-10-10 20:00] JanDeDobbeleer commented on #243
This shouldn't happen anymore in V3, can you confirm? https://ohmyposh.dev

[2020-10-11 07:28] #314 closed

[2020-10-11 07:31] JanDeDobbeleer commented on #233
This shouldn't happen anymore in V3, can you confirm? https://ohmyposh.dev

[2020-10-11 07:31] JanDeDobbeleer commented on #225
This shouldn't happen anymore in V3, can you confirm? https://ohmyposh.dev

[2020-10-11 07:33] JanDeDobbeleer commented on #223
This is a feature of V3 now https://ohmyposh.dev

[2020-10-11 07:33] #223 closed

[2020-10-11 07:34] JanDeDobbeleer commented on #216
This is feature of V3 https://ohmyposh.dev

[2020-10-11 07:34] #216 closed

[2020-10-11 07:34] JanDeDobbeleer commented on #201
This shouldn't happen anymore in V3, can you confirm? https://ohmyposh.dev

[2020-10-11 07:34] #122 closed

[2020-10-11 07:34] JanDeDobbeleer commented on #122
Available.

[2020-10-11 07:57] JanDeDobbeleer commented on #182
Can you confirm this still occurs in V3? https://ohmyposh.dev

[2020-10-11 07:57] JanDeDobbeleer commented on #177
This shouldn't happen anymore in V3, can you confirm? https://ohmyposh.dev

[2020-10-11 07:58] #129 closed

[2020-10-11 08:00] ashutoshbsathe commented on #233
The issue seems to have resolved
![image](https://user-images.githubusercontent.com/22210756/95673405-c9fa0280-0bc5-11eb-9b20-976b1e132e22.png)

The new version and documentation looks pretty sweet too !
Thanks for the update 👍

Closing this issue now

[2020-10-11 08:00] #233 closed

[2020-10-11 08:01] Ergamon commented on #201
First of all thanks for your great work and support, but sadly I cannot confirm with the latest version.

The relavant part of my profile is still:
[code]

The latest beta version does not change anything.

I have attached 3 screenshots.

#1 and #3 show everything working correctly as I don´t set the DefaultUser variable in the profile. In #1 I don´t set it at all and in #3 I set it manually **aft

[2020-10-11 08:40] JanDeDobbeleer commented on #233
@ashutoshbsathe make sure to check the migration guide as well as `$ThemeSettings` no longer exists 😅
https://ohmyposh.dev/docs/upgrading

[2020-10-11 11:31] aykxt commented on #45
Just tried it, it's much faster now!

[2020-10-11 11:36] JanDeDobbeleer commented on #45
@aykxt do we close this one for now? I'm not sure there's much I can do to make it even faster, the layout should also keep it that way even when extending to offer support for revert/bisect.

[2020-10-11 12:17] aykxt commented on #45
I think we can close it, it's much faster now.

[2020-10-11 18:45] JanDeDobbeleer commented on #7
@nwykes I finished this one. Given that I reworked the git functionality quite a bit, I'm focusing on finishing it. Once this is feature complete (revert and bisect still to be done), everything should be on par with V2.

[2020-10-12 08:10] JanDeDobbeleer commented on #55
Ooh. Interesting. Admin is a really challenging part on Windows. It works on my Windows machine, but apparently that's not true for everyone. I'll make a quick fix that ensures this no longer fails, but I'll have to spend some more time on why this fails exactly. Syscalls aren't my forte ^^

[2020-10-12 08:46] KnapSac commented on #225
The time is still being cut off, as far as I can tell. Since opening this issue, I've stopped using ```oh-my-posh```, and I seem to have lost the exact configuration I was using at the time of opening this issue.

I tested this using the ```honukai``` theme, and running the latest pre-release build of Windows Terminal.

[2020-10-12 09:02] kwmlodozeniec commented on #55
Is this due to me installing it as admin?

[2020-10-12 09:48] wigster commented on #182
Hi,
v3 seems to require PS 6.0+, so I cannot quite replicate with the 5.1 that I had the problem in this thread.

But for PS 7.0.3 installed on WS2012R2 and OMP 3.13 there is still an issue, but different. When I set a prompt locally on the WS in standard terminal window, I get "The parameter is incorrect." as the prompt. Not sure how to get more information here.

On the other hand, when I remote

[2020-10-12 10:19] JanDeDobbeleer commented on #55
It seems that `user.Current()` fails in that case which is a standard golang call to retrieve the current user information. It also doesn't have an error option so I'll catch it and return an empty string in that case. I'm writing a solution as I type this. Stay tuned.

[2020-10-12 10:31] kwmlodozeniec commented on #55
Awesome, thank you!
What's interesting though is that in this case I am not running PS as admin explicitly, I only run as admin for installation.

[2020-10-12 11:01] gluons commented on #129
![ภาพ](https://user-images.githubusercontent.com/4688092/95739270-c1ccc080-0cb4-11eb-96cb-2063433b20a7.png)

It still doen't work on my PowerShell 7.

---

`$PSVersionTable`:
[code]

[2020-10-12 11:26] JanDeDobbeleer commented on #55
@kwmlodozeniec once `3.14.0` is available, can you validate that fixes the issue?

[2020-10-12 12:41] JanDeDobbeleer commented on #129
@gluons that's for 2, the fix is in V3 😉

[2020-10-12 12:51] kwmlodozeniec commented on #55
[code]

I still get an exception
[code]

[2020-10-12 13:51] JanDeDobbeleer commented on #55
Well now. This is going the wrong way all over the place. It's actually a bug in go, as this implies it crashes underneath. We're one step further but not yet where we need to be. It seems `usr, err := user.Current()` is also used for the home directory. Given that go crashes rather than return a value in the `err` variable, I'll need to replace that as well.

[2020-10-12 14:09] JanDeDobbeleer commented on #55
@kwmlodozeniec stay tuned for `3.14.1`

[2020-10-12 14:38] JanDeDobbeleer commented on #182
Can you check with `3.14.2`?

[2020-10-12 14:41] JanDeDobbeleer commented on #225
Ah ok, I see. As the prompt isn't re-rendered on resize (that's pretty challenging and useless), when pressing enter it should have the correct rendering.

[2020-10-12 14:59] kwmlodozeniec commented on #55
BTW, I wasn't sure if you are still in WIP but I tried latest and I get this:
[code]

[2020-10-12 15:00] wigster commented on #182
It's the same locally on WS2012R. Remotely I get a nice error

[code]
And then it doesn't do anything.

[2020-10-12 15:14] JanDeDobbeleer commented on #55
That's all due to being installed as admin probably causing the paths and other items to act weird. We're almost there I guess, this is related to the PowerShell module rather than the go binary so I can troubleshoot this on a Windows machine.

[2020-10-12 15:16] JanDeDobbeleer commented on #59
Could be, I'll give that a "go" ^^

[2020-10-12 15:22] tillig commented on #177
I haven't been able to verify the fix due to JanDeDobbeleer/oh-my-posh3#61. Perhaps @georgefeakes might have better luck.

[2020-10-12 15:29] KnapSac commented on #225
Ok. I can close this issue, unless you want to keep it open?

[2020-10-12 15:54] JanDeDobbeleer commented on #61
My first bet is that the default terminal doesn't accept the colors. Because apart from that it renders what it should. Do me a favor and check iterm2, I'll check how to enable a full color profile in the default terminal later today.

[2020-10-12 16:07] tillig commented on #61
Yup, iTerm does seem to render correctly. I mean, I don't have the font set up right, but the colors are correct.

<img width="682" alt="Screen Shot 2020-10-12 at 9 06 33 AM" src="https://user-images.githubusercontent.com/1156571/95767876-4ba36c00-0c6a-11eb-99a7-a39f7aaa51bd.png">

[2020-10-12 16:23] JanDeDobbeleer commented on #61
According to the interwebs in regards to Terminal:

[2020-10-12 16:24] gluons commented on #129
OK. Thank you. v3 is amazing.
I'll keep an eye on v3. 😘

[2020-10-12 16:54] JanDeDobbeleer commented on #182
I print that statement but everything should continue with the side effect of having garbled fonts. No idea why it doesn't do anything correctly, in theory ot should work like a local prompt.

[2020-10-12 16:56] tillig commented on #61
I already have that set.

<img width="806" alt="Advanced Preferences" src="https://user-images.githubusercontent.com/1156571/95771410-d9358a80-0c6f-11eb-940f-5e2877dfa251.png">

I also have text set as "display ANSI colors"... however, now I'm wondering if there's some limitation around which colors are allowed or something based on the fact there are only 16 colors shown here.

<img width="806" a

[2020-10-12 16:58] JanDeDobbeleer commented on #182
Or wait this could be related to being admin I suppose. There's a whole lot of trouble when installing as admin, not sure why just yet.

[2020-10-12 17:25] JanDeDobbeleer commented on #61
It's not related to PowerShell but the terminal. I'll try to check which setting is causing this but it's definitely a Terminal issue and not related to oh-my-posh.

[2020-10-12 17:47] JanDeDobbeleer commented on #61
The way I see this, it just can't ever work in Terminal. Everything I tried to set doesn't work so I'll add that context to the docs.

[2020-10-12 17:49] tillig commented on #61
Fair enough. I definitely appreciate your looking into it!

[2020-10-12 17:50] JanDeDobbeleer commented on #61
I I ever find a solution I'll make sure to provide it though.

[2020-10-12 20:03] JanDeDobbeleer commented on #225
Given this isn't something I can fix, I'd opt to close it.

[2020-10-12 20:47] #225 closed

[2020-10-13 07:00] JanDeDobbeleer commented on #59
Preliminary test from yesterday evening.
<img width="1442" alt="image" src="https://user-images.githubusercontent.com/2492783/95826394-8244b980-0d32-11eb-9afa-f7a5b185a596.png">

[2020-10-13 07:14] JanDeDobbeleer commented on #59
Not faster with parallelism 😁

[2020-10-13 10:41] JanDeDobbeleer commented on #20
I finally was able to reproduce this, but I still need to catch the moment :-) I did not forget about this!

[2020-10-13 10:41] JanDeDobbeleer commented on #55
I'm going to try to fix this this evening (or at least reproduce).

[2020-10-13 14:01] tillig commented on #59
Were those all running shell commands in the background? It seems like the stuff that would benefit from parallel execution would be shell commands. Stuff like the path that you can get from the environment would, as you're showing, likely suffer from the thread context switch overhead.

[2020-10-13 15:11] JanDeDobbeleer commented on #59
Yes they were all running in parallel on a go routine. The git one is the most impactful one, but I optimized it a few days back. Tbh, I think that for example caching PWD has been more beneficial than adding a parallel execution. 0.07 seconds is plenty fast, wouldn't you say?

[2020-10-13 15:16] tillig commented on #59
I'd absolutely agree. I was just trying to make sure I understood what the comparison was - if it was "fork a bunch of parallel processes to read from the environment" it'd be slower, but if it was "I have five copies of the expensive git block" running in parallel the optimization might have been more apparent. And it well could be that Go is far more optimized for shell execution than PowerShell

[2020-10-13 15:47] gulsendemirtaszor commented on #269
Set-ExecutionPolicy -Scope CurrentUser Bypass exactly worked for me. Ater executing it I could install the following

Install-Module -Name Az

[2020-10-13 17:20] JanDeDobbeleer commented on #55
@kwmlodozeniec I can't reproduce this. Can you give me the exact installation procedure you followed?
<img width="860" alt="image" src="https://user-images.githubusercontent.com/2492783/95894294-2e18f400-0d89-11eb-9c83-938b3f6d4662.png">

[2020-10-13 17:28] kwmlodozeniec commented on #55
I'm wondering if it might be connected to my fairly old build of Windows 10. It's a work machine and the IT department is very conservative about updates, hence me trying to use alacritty instead on the new windows terminal. I will try the same process on my up to date machine and see if that works fine, if that's the case I am not sure if you want to bother fixing this? It might be worth setting

[2020-10-13 17:30] JanDeDobbeleer commented on #55
The error we now see if related to the Module code (PowerShell) so I'm still curious what's triggering this. Pretty sure I'm using something that's not available somewhere.

Which version of PowerShell are you on?

[2020-10-13 17:32] kwmlodozeniec commented on #55
I've installed the latest version 7 about a week go.

[2020-10-13 18:45] JanDeDobbeleer commented on #55
I'm going about this the wrong way. Can you open the module code and comment [this](https://github.com/JanDeDobbeleer/oh-my-posh3/blob/main/packages/powershell/oh-my-posh/oh-my-posh.psm1#L66) line?

[2020-10-13 19:20] kwmlodozeniec commented on #55
Will do first thing tomorrow.

[2020-10-13 19:31] tillig commented on #177
<img width="1093" alt="With right-aligned time" src="https://user-images.githubusercontent.com/1156571/95906965-b8446680-0d4f-11eb-9539-e398503ccb22.png">

On a whim I added a second block with a right-aligned time and it doesn't result in clearing the line. (I've been updating the segments with new commands and things, too, so... yeah. It's not the same as the text segment above but it still illu

[2020-10-13 19:40] tillig commented on #59
<img width="1087" alt="Screen Shot 2020-10-13 at 12 34 08 PM" src="https://user-images.githubusercontent.com/1156571/95907496-7cf66780-0d50-11eb-90b2-362573ba2a4f.png">

Running `kubectl`, `dotnet`, and `az` in serial ends up being 0.61 seconds +/- 0.02s

With the PowerShell parallel execution thing I'm running, it's more like .26s.

I'll see what I can do to use that `Set-PoshContext` thing I not

[2020-10-13 19:41] JanDeDobbeleer commented on #177
Yes pls. I'll have a look ASAP!

[2020-10-13 19:48] tillig commented on #177
Added JanDeDobbeleer/oh-my-posh3#65

[2020-10-13 19:49] JanDeDobbeleer commented on #59
Ok. I see. Command is the worst of them all. Pretty sure all of that can run a lot faster with dedicated segments. Or, as you stated, using posh context to create a few environment variables from PS can even facilitate stuff. I still have the commit with parallel execution, I could share the binary to see if that makes a huge difference for these things.

[2020-10-13 19:50] JanDeDobbeleer commented on #177
That'll be something for tomorrow 👍🏻

[2020-10-13 19:53] tillig commented on #59
Yeah, I'd be happy to run the timings to see if there's an improvement.

[2020-10-13 19:57] JanDeDobbeleer commented on #59
Which platform are you using?

[2020-10-13 20:08] tillig commented on #59
MacOS 10.15.7

[2020-10-14 01:54] orney21d opened #315 "Not working in Powershell Core"
After following the steps to install it in powershell Core, it doesn't work:

1. Install-Module posh-git -Scope CurrentUser
2.Install-Module oh-my-posh -Scope CurrentUser
3.Install-Module -Name PSReadLine -AllowPrerelease -Scope CurrentUser -Force -SkipPublisherCheck

![image](https://user-images.githubusercontent.com/2101874/95934446-be2a5e00-0dc8-11eb-8793-bc39dae5f8bc.png)

Then, after download

[2020-10-14 05:41] JanDeDobbeleer commented on #59
[go-my-posh-parallel.zip](https://github.com/JanDeDobbeleer/oh-my-posh3/files/5375855/go-my-posh-parallel.zip)

[2020-10-14 05:43] Utopia-Zzzz opened #316 "How can i use some plugins like zsh-autosuggestions"
I want to use suggestions like zsh-autosuggestions.
what should i do ?

[2020-10-14 07:26] kwmlodozeniec commented on #55
![image](https://user-images.githubusercontent.com/1453791/95956905-e03ad500-0df6-11eb-8610-88dbda0d6bdd.png)

[code]
Same thing seems to be happening with 3.14.4 (I know it has got the fix for this issue but I tried for the sake of completeness).

Also, my version output:
[code]

[2020-10-14 08:32] JanDeDobbeleer commented on #55
I know what's happening. On Windows we need to set the output mode to interpret ANSI. That's what's failing here. I have one thing I can try, but no guarantee.

[2020-10-14 09:00] enpinzolas opened #317 "go-my-posh themes have forced solarized-dark color"
There seems to be a problem with the go-my-posh themes, they assume that the background color is solarized dark.
![imagen](https://user-images.githubusercontent.com/8517355/95967028-146cc080-0e0c-11eb-8173-2daf69b7e70b.png)

This does not happen with the oh-my-posh themes:
![imagen](https://user-images.githubusercontent.com/8517355/95967288-5f86d380-0e0c-11eb-8d2a-7321fac5ec7f.png)

[2020-10-14 09:28] JanDeDobbeleer commented on #55
Ok, I made a fix in the dependency which hopefully provides more result. Can you try the attached binary?

[posh.zip](https://github.com/JanDeDobbeleer/oh-my-posh3/files/5377085/posh.zip)

[2020-10-14 09:39] kwmlodozeniec commented on #55
![image](https://user-images.githubusercontent.com/1453791/95971697-737d0600-0e09-11eb-89e7-3167f2273791.png)
Looks like the same result. I have tried it with and without the line you have asked me to comment out earlier.

[2020-10-14 09:47] JanDeDobbeleer commented on #55
Ok. So. What happens is this. To render ANSI on Windows the executing binary needs to tell the handler it wants to enable this. But, somehow, that functionality isn't available on your machine or the wrong handler is being used (my initial bet). Given that this is a really low level API my knowledge of the domain is limited. I'll do some more research 👍🏻

To be clear, calling the binary directly r

[2020-10-14 09:57] kwmlodozeniec commented on #55
When calling it from PS7 standard terminal I get this:
[code]

When using alacritty
[code]

The PS7 standard terminal output is most likely due to the fact I cannot set a proper PL font on that terminal exe.

[2020-10-14 10:18] sanfusu opened #318 "Character display error"
https://github.com/JanDeDobbeleer/oh-my-posh/blob/a031c7f9ff3c5d8129cf0fa3f70fd6d5cf076853/Themes/Material.psm1#L63

The HomeSymbol displayed error in my system:
![image](https://user-images.githubusercontent.com/34563541/95975951-6c75e800-0e49-11eb-9c6e-29ce520f732f.png)
Using `[char]::ConvertFromUtf32(0x1F3E0)` instead of 🏠 will be ok

[2020-10-14 10:31] JanDeDobbeleer commented on #55
It could be related to this https://github.com/alacritty/alacritty/issues/3063

I'm going to to try alacritty myself later today.

[2020-10-14 10:55] JanDeDobbeleer commented on #55
@kwmlodozeniec the error you see in the standard terminal is coming from [here](https://github.com/JanDeDobbeleer/color/blob/master/color_windows.go#L64). It can't set the mode which is most likely due to your specific version of Windows. Alacritty doesn't seem to show that error, implying it can set the mode, but then doesn't interpret the ANSI characters. That's most likely an Alacritty issue.

[2020-10-14 11:04] kwmlodozeniec commented on #55
That's a shame. I use powerline on my home machine, where I am on the latest Win10. I guess I will have to badger IT to update my work machine to something more recent. Thanks for investigating, let me know if you find some workaround.

[2020-10-14 11:04] JanDeDobbeleer commented on #55
TL;DR: I use a package to facilitate ANSI coloring. A while back I noticed it wouldn't render in the current consoles on Windows as it set virtual terminal processing wrong for those. HOWEVER, it might just as well be that fix breaks on other places and would also explain as to why some of the other calls were failing earlier.

[2020-10-14 11:05] JanDeDobbeleer commented on #55
@kwmlodozeniec did you try the proposed fix in the issue above? I can't seem to run alacritty (oh noes). Unless I really need that c++ distributable.
<img width="303" alt="afbeelding" src="https://user-images.githubusercontent.com/2492783/95980779-f1e3a300-0e1d-11eb-817b-be58674782a9.png">

[2020-10-14 11:08] kwmlodozeniec commented on #55
Yes, I already had that setting enabled, it made no difference to me.

[2020-10-14 14:03] tillig commented on #59
<img width="1093" alt="Timed comparison of parallel vs. not" src="https://user-images.githubusercontent.com/1156571/95999154-7b797d80-0dea-11eb-827a-f689a5533117.png">

Using the config with several commands, it appears that the serial version is ~0.58s and the parallel version is ~0.42s pretty consistently. There were a couple of weird outliers in the parallel version where it hit 0.9s but I'm un

[2020-10-14 14:06] JanDeDobbeleer commented on #65
@tillig this only seems to happen once. When I set the this prompt the first time, it had the issue. However, every subsequent call (when set in the prompt) it did not occur again.

[2020-10-14 14:08] JanDeDobbeleer commented on #65
<img width="1722" alt="afbeelding" src="https://user-images.githubusercontent.com/2492783/96000722-80b0e980-0e37-11eb-811c-a1ce78895767.png">

[2020-10-14 14:08] tillig commented on #65
Maybe there's a difference in how it works between when it's run interactively vs. setting the prompt in the background?

[2020-10-14 14:11] JanDeDobbeleer commented on #65
Got it, when I print your prompt it also happens on mine.
<img width="1722" alt="afbeelding" src="https://user-images.githubusercontent.com/2492783/96001067-eac98e80-0e37-11eb-853d-99c271ce1c67.png">

EDIT: those colors are killing me :-)

[2020-10-14 14:24] JanDeDobbeleer commented on #65
Fixed
<img width="1722" alt="afbeelding" src="https://user-images.githubusercontent.com/2492783/96002714-ba82ef80-0e39-11eb-994c-41c6ff5bfdd9.png">

[2020-10-14 14:31] tillig commented on #59
Tried switching to use `sed` and `jq` instead of calling the `az` CLI and the script by itself is pretty consistently about 0.55s while az CLI is 0.39s. Apparently switching to a script to bypass `az` won't save me anything.

[code]

[2020-10-14 15:46] JanDeDobbeleer commented on #59
I'm in favor of keeping the logic (**_the parallel logic_**) in that case, AND I would really like to get rid of `command` and create actual segments for those use-cases too.

[2020-10-14 15:59] tillig commented on #59
That's fair. I could probably pony up a PR or three to help out with that.

[2020-10-14 20:05] JanDeDobbeleer commented on #55
I might have a final thing I can try. Been reading too many docs about how to get the handle for the currently active console so stay tuned for a new version tomorrow 😉

[2020-10-15 06:51] JanDeDobbeleer commented on #55
@kwmlodozeniec I made a minor change locally to see if that could fix the issue. If this doesn't work I'm out of options for now.
[posh2.zip](https://github.com/JanDeDobbeleer/oh-my-posh3/files/5382931/posh2.zip)

[2020-10-15 08:08] kwmlodozeniec commented on #55
So, updated the executable, turned on posh in my profile.
On PS7 terminal I get this when starting:
[code]
If I then navigate to the module dir and run the exe directly I get this:
[code]
On alacritty is get the same garbage I did before.

[2020-10-15 08:33] JanDeDobbeleer commented on #55
it just can't find the right `stdout`. I have no idea how to proceed with this one now.

[2020-10-15 08:54] kwmlodozeniec commented on #55
To be fair this is a very specific setup with out of date windows etc. Maybe you should not waste your time on this. This works fine on my home machine with up to date windows without issues.

[2020-10-15 09:17] JanDeDobbeleer commented on #55
Let's just say I'm intrigued as to why this doesn't work.

[2020-10-15 15:30] JanDeDobbeleer commented on #317
@enpinzolas is that the latest `oh-my-posh` beta or still `go-my-posh`? Because I adjusted that a while back to be transparent.

[2020-10-15 15:31] JanDeDobbeleer commented on #318
@sanfusu good point, I have a task for the V3 beta to move everything from those symbols to the char representation.

[2020-10-15 15:34] JanDeDobbeleer commented on #316
Depending on the tool there's probably another package that implements the completions. Initially I also packaged this (but that's a REALLY long time ago) and decided together with the community to no longer do that. You can install additional packages or create your own [auto completions](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/register-argumentcompleter?view=

[2020-10-15 15:34] #316 closed

[2020-10-15 15:36] #315 closed

[2020-10-15 15:55] Utopia-Zzzz commented on #316
thanks

[2020-10-15 16:13] P4VEMENT opened #319 "How can I fix this kind of □ display error？"
For all kinds of themes like Operator, Paradox and etc. I got this kind of □ display error.
PowerShell version is 5.1
The fontface I'm using is the latest version of Cascadia Code PL (2009.022)

![image](https://user-images.githubusercontent.com/43414705/96156078-416fbf00-0f43-11eb-8606-3b42d44afb59.png)

[2020-10-15 16:55] JanDeDobbeleer commented on #319
The font is incorrect. You want to either use a [Nerd Font](https://www.nerdfonts.com/) which contains the icons, or create a custom theme that has the icons you want.

[2020-10-15 16:55] #319 closed

[2020-10-15 17:05] JanDeDobbeleer commented on #201
@Ergamon you're not using V3 :-) `Set-Theme` is a V2 function, V3 uses `Set-PoshPrompt paradox` (see [here](https://ohmyposh.dev))
I tried this on V3 and can't reproduce this anymore (MacOS and WIndows).

[2020-10-15 18:22] P4VEMENT commented on #319
Got it！Thank you very much！

[2020-10-16 07:05] #177 closed

[2020-10-16 07:05] JanDeDobbeleer commented on #318
See https://github.com/JanDeDobbeleer/oh-my-posh3/pull/74

[2020-10-16 07:05] #318 closed

[2020-10-16 14:20] enpinzolas commented on #317
It's `go-my-posh`, I installed it with the commands you suggest in #251, specifically:
[code]

I installed it 2 days ago, it might be that the install module has an outdated version.

[2020-10-16 18:25] JanDeDobbeleer commented on #317
Yes, in the meantime a lot has changed. Go my Posh got changed to Oh my Posh V3, a guide is available here: https://ohmyposh.dev/docs/upgrading

[2020-10-16 18:27] #243 closed

[2020-10-16 23:02] tillig commented on #65
It could be just me... but I'm still seeing this using 3.17.0. It happens with both a manual execution and as a prompt backing a PowerShell Core session.

<img width="1202" alt="Continued color block at end of screen" src="https://user-images.githubusercontent.com/1156571/96320720-08c5f900-0fc8-11eb-9868-b88773f36a86.png">

The first prompt is fine, but an `ls -la` makes the second prompt appear a

[2020-10-17 03:58] JustinGrote commented on #77
Disregard, somehow I ended up with v2 and I have no idea why.

[2020-10-17 06:05] JanDeDobbeleer commented on #65
That's super strange and really shouldn't happen as it literally makes no sense. There's no other shell where this seems to happen so PS needs to get its act together. I couldn't reproduce it anymore, but I'll try to play around with your config 👍🏻

[2020-10-17 15:47] orney21d commented on #315
Hi, thanks for your response, I know what you say, I imported the modules in a different profile for each of them , as you can see for "Windows Powershell" the default profile is in :
`C:\Users\XXX\Documents\**WindowsPowerShell** `

and for PowershelCore is in :

`C:\Users\XXX\Documents\**PowerShell**`

[2020-10-17 18:07] JanDeDobbeleer commented on #315
Did you install the modules in both shells as well?

[2020-10-18 17:28] #317 closed

[2020-10-18 18:14] JanDeDobbeleer commented on #77
No worries!

[2020-10-19 15:39] nwykes commented on #82
Try adding

[code]

before your [ScriptBlock]

[2020-10-19 16:25] JanDeDobbeleer commented on #82
@nwykes is right, the encoding in the prompt function is different (respects the code page set by Powershell rather than the executable). The PowerShell module adds this for you, I'll update the docs with that context too.

[2020-10-19 16:26] cdhunt commented on #82
I thought Powershell finally standardized on UTF8. Anyway, that worked. Thanks!

[2020-10-19 22:07] nwykes commented on #65
not sure if helpful, but another way to reproduce this is to add a newline block as the first block.  prompt will display correctly until something like a `dir` is done, then I get the background issue on the main block.  only happens in PowerShell.  my zsh on Mac and linux don't exhibit this.

[2020-10-20 09:02] JanDeDobbeleer commented on #65
@tillig the last release contains a change in how the newline is created, that might have a positive impact on this as well (didn't test it yet, looking forward to your experience).

[2020-10-20 13:58] tillig commented on #65
Under 3.20.1 it's actually worse. Not only do I still get the bar, but I have a newline in my prompt and that gets ignored so the cursor ends up on the wrong line when the prompt is rendered. You can see three cases here:

- Prompt rendering before it hits the bottom of the console window
- Prompt rendering after it hits the console window and I type `ls -la` (so you can see where the cursor is)
-

[2020-10-20 14:07] tillig commented on #65
Unclear if it helps, but the only way I found to fix this in the original OMP was to [actively write blank characters to clear the next line](https://github.com/JanDeDobbeleer/oh-my-posh/issues/177), then reset the rendering location to the beginning of the line to continue rendering.

Like an old typewriter where \r is actually separate from \n:

- Write line 1
- Write \r\n
- Write blanks across

[2020-10-20 14:16] JanDeDobbeleer commented on #65
This still sounds a lot more like a bug on Powershell than anything we can consistently solve. First, I'll revert this one as it works on MacOS Powershell on my end, but not consistently everywhere else.

[2020-10-20 14:57] tillig commented on #65
I found an issue that describes this somewhat, possibly connected? PowerShell/PowerShell#11267

[2020-10-21 11:15] JanDeDobbeleer commented on #65
I think we'll need to keep a list of issues that are specific to Powershell. Currently there's two I observed:

- newline characters do not work in the `prompt` function (`\n` does not create a newline at that moment).
- inconsistent behavior regarding colors and cursor at the end of the shell (at least that's one of the consistent behaviors).

[2020-10-21 13:56] tillig commented on #65
Yeah, I mean, it sounds like it's definitely PowerShell and not the terminal. Perhaps just some docs to make it well known is good enough.

Meantime... I may end up switching back to original PowerShell OMP v2 since I'd figured out a solution to this stuff using the `$host` and manually clearing things on wrap. It's not the new fancy stuff, but it worked. 😢

[2020-10-21 14:23] fdncred commented on #65
Piling on. I just noticed this in pwsh in vscode. Using 3.20.4. I only notice this when using vscode. Using Windows Terminal. Going to try work-around.
![image](https://user-images.githubusercontent.com/343840/96731833-4e464580-137d-11eb-95e3-6bd2d013439d.png)

[2020-10-21 16:04] GF-Huang commented on #251
So no solutions? I still took 800ms.

[2020-10-21 17:57] JanDeDobbeleer commented on #251
@GF-Huang `Set-Theme` is V2, not V3.

[2020-10-21 20:28] GF-Huang commented on #251
This?

[2020-10-21 20:39] JanDeDobbeleer commented on #251
You can easily update to the beta of oh-my-posh.
https://ohmyposh.dev/docs/upgrading

[2020-10-22 03:43] nwykes commented on #251
800ms is pretty fast?  less than a second startup time seems reasonable.

[2020-10-22 19:07] JanDeDobbeleer commented on #65
I have the impression everything is connected to the newline issue. So, there's no way to get consistent newline behavior that doesn't break the prompt without using `\x1b[1000C ` in Powershell. To my understanding that's what's possibly causing this issue. Now, using the following in the prompt function does not work (at least on MacOS):

[code]
Hacking the prompt function like this does work how

[2020-10-23 18:06] JanDeDobbeleer commented on #65
I might have found something. Stay tuned.

[2020-10-24 06:14] JanDeDobbeleer commented on #93
That could work and seems like it's an easy implementation as well. Let's do it. Do you want to give it a try, or shall I go for it?

[2020-10-24 09:25] dhanushkac opened #320 "Images under Show-Colors & Show-ThemeColors has wrong colors"
Check magenta & white

[2020-10-24 18:05] JanDeDobbeleer commented on #65
Looking forward to seeing the experience with `3.23.0`

[2020-10-24 19:22] JanDeDobbeleer commented on #55
@kwmlodozeniec I changed the way to executable is invoked in the prompt function. I'm curious if that would have a positive impact here as well. Can you try `3.23.0`?

[2020-10-24 21:43] JanDeDobbeleer commented on #320
Hey @dhanushkac, please have a look at V3, this has been addressed there. https://ohmyposh.dev

[2020-10-24 21:43] #201 closed

[2020-10-25 01:14] dhanushkac commented on #320
Thank you 🙂 This looks great. Now, this has lots of features as it seems. Unfortunately, I feel this one is slower than the old one with command executions. Have to check more. Will check later 👍

[2020-10-25 05:47] JanDeDobbeleer commented on #320
Command isn't what you want to use if you need to communicate with the shell. Check Environment Variables and Set-PoshContext.

[2020-10-25 13:08] rashil2000 commented on #96
Turns out I'm not even able to uninstall it now:
![image](https://user-images.githubusercontent.com/46838874/97108100-39591180-16f1-11eb-8d26-0cee56060a0a.png)

Could you help me?

[2020-10-25 14:43] JanDeDobbeleer commented on #96
Yes. You need at least Powershell 6, you have 5. Updating to Powershell 7 will do the trick, or doing a manual installation as I don't plan to actively support 5 due to being Windows only.

[2020-10-25 14:52] rashil2000 commented on #96
Oh, okay. You should mention the minimum version of PowerShell somewhere in the docs then.

May I ask what specific commands are being used in PowerShell 6+ that won't work in 5? I thought the command set of PowerShell 6+ was a subset of 5.

[2020-10-25 15:12] JanDeDobbeleer commented on #96
Everything should in theory work just fine, I just can't support it as it's limited to Windows only and I can only offer support for cross platform tooling due to having a life outside of this context 😉

[2020-10-25 16:45] rashil2000 commented on #96
@JanDeDobbeleer Could you put Scoop in the roadmap too so that manual installation becomes a tiny bit easier?

[2020-10-25 16:51] JanDeDobbeleer commented on #96
I'm looking at winget as that's the new hot thing apparently. Scoop could be an option too, I'll check.

[2020-10-25 16:56] rashil2000 commented on #96
Sure, both of them are cool.

I just mentioned this as V2 is there on Scoop too (not sure who added it), so V3 would just mean upgrading that. Or a separate package can be made too.

[2020-10-25 17:47] JanDeDobbeleer commented on #96
Someone made it. Same for chocolatey.

[2020-10-25 18:21] JanDeDobbeleer commented on #98
That's silly. Let's see if we can fix that.

[2020-10-25 18:44] JanDeDobbeleer commented on #98
A new version will be available soon. The path wasn't provided in full to the binary it seems, causing spaces to drop everything that came after. Thanks for noticing this!

[2020-10-25 18:49] jibin2706 commented on #98
Thanks for the quick fix :)

[2020-10-26 03:03] dhanushkac commented on #320
Okay. thank you. Old version works fine for me. Love using it. 👍

[2020-10-26 06:07] #320 closed

[2020-10-26 11:15] ms3056 opened #321 "Enhancement Request: Conda venv"
Could someone please create a theme that displays the conda python venv value - preferably in the Operator style.

[2020-10-26 14:38] tillig commented on #65
Using v3.23.1 and the prescribed PowerShell block in my profile...

[code]

When I run it in iTerm2 on Mac I still see the issue when it scrolls past the end of the window.

Startup - so far so good...

<img width="1100" alt="New window, prompt working" src="https://user-images.githubusercontent.com/1156571/97186025-04cf6f00-175e-11eb-96fe-f602b1488977.png">

...scrolling at the bottom, uh oh.

<i

[2020-10-26 15:28] JanDeDobbeleer commented on #65
Great. Just great. *throws table*

[2020-10-26 15:43] tillig commented on #65
What if OMP was, itself, responsible for the line wrapping? Which is to say, perhaps a line length parameter could be provided such that if the line reached that length then OMP could reset the color; manually insert a newline; start the color again; and continue on. Default behavior without the line length parameter could be to do what it's doing now; for PowerShell it could be based on `$host.UI

[2020-10-26 16:31] JanDeDobbeleer commented on #65
I already reset the colors so to be fair it's really a Powershell issue in my experience.

[2020-10-26 16:41] tillig commented on #65
I'm not disagreeing that it's PowerShell, but the colors aren't getting reset on line wrap, are they? Maybe I missed that. From the linked issue, I gather it's like:

- Line 1 goes beyond the window length and starts to wrap.
- PowerShell gets the color at the end of line 1 and fills line 2 (this is the problem)
- Line 2 prints over the incorrectly colored line.

The idea was that if the lines _do

[2020-10-26 16:53] JanDeDobbeleer commented on #65
Let's try this for the sake of experience 😀

[2020-10-26 17:45] rashil2000 commented on #20
Can confirm this. Shows error BATT ERR whether the device is charging or discharging. Tried on PowerShell 5 with jandedobbeleer theme.

[2020-10-26 19:46] JanDeDobbeleer commented on #20
It depends, I have a device where I've only seen it once, but it went away so fast I couldn't debug it. Hasn't happened since. So rather annoying to reproduce on my end.

[2020-10-26 19:49] JanDeDobbeleer commented on #102
Depends. Maybe if we abuse the `Set-PoshContext` function to add that to an env var we can read it might work. However, I might need to move it up being the first function that's being called possibly conflicting with the last exit code. How did you handle this in V2 code-wise?

[2020-10-26 20:01] MJECloud commented on #102
Here is the code 😊
[code]

[2020-10-26 21:04] JanDeDobbeleer commented on #102
Top, I'll draft a POC tomorrow morning. I need to check a PR and can't stand open issues for too long 😂

[2020-10-26 23:20] nwykes commented on #65
I no longer have this issue with my newline as first block example.

[2020-10-27 11:25] JanDeDobbeleer commented on #102
Ok, so all you need is to extend your profile with the following and create a custom theme.

[code]

To create a custom theme, you can use the `Write-PoshTheme` function which will output a `json` object you can copy-paste into a new file and extend with the [environment variable segment](https://ohmyposh.dev/docs/environment).

[code]

[2020-10-27 12:00] MJECloud commented on #102
Thank you! I'll test it 😁

[2020-10-27 12:28] kwmlodozeniec commented on #55
Without enabled a theme, just import the module I get this
![image](https://user-images.githubusercontent.com/1453791/97301460-b5696b80-184f-11eb-99ff-f3449daffcf4.png)

If I enable a theme, for example `Set-PoshPrompt -Theme paradox` I get this:
![image](https://user-images.githubusercontent.com/1453791/97301552-d03be000-184f-11eb-8da3-24c5d8ad24fb.png)

So no error but it also stop posh-git from

[2020-10-27 12:37] JanDeDobbeleer commented on #55
What does the `$error` variable hold?

[2020-10-27 12:46] kwmlodozeniec commented on #55
[code]

[2020-10-27 13:06] JanDeDobbeleer commented on #55
Super useful. Thanks Powershell 🤦🏻‍♂️

[2020-10-27 15:10] JanDeDobbeleer commented on #65
I think...I really think...I found a fix. And I can't understand why I didn't see this option before. I could consistently reproduce it and with this change it's gone.

[2020-10-27 19:27] Caeliiaa opened #322 "problem with themes in powershelll"
Hello,

I have installed and followed all the steps indicated during the installation guide, but then when I run the different themes they do not look as they should, this is how the theme is shown for example: agnoster

https://prnt.sc/v85twe

I have tried with other themes, but they all display incorrectly, any idea why?

[2020-10-27 23:44] darthwalsh commented on #93
Awesome, thanks so much! I'm not an expert at go but for future FRs I can give it a try myself :)

[2020-10-27 23:49] nwykes commented on #322
It looks like you haven't set up a powerline font properly per the prerequisites in the readme.  If you're just getting started, you'll probably want to use V3 however: https://ohmyposh.dev

[2020-10-28 12:55] hesstobi opened #323 "Test-Administrator Windows"
Currently the Test-Administrator function always returns false for windows.

A possible solution is (taken from https://hochwald.net/powershell-check-if-powershell-run-elevated-e-g-as-admin-or-not/):

[code]

[2020-10-28 18:24] JanDeDobbeleer commented on #109
There are no stupid questions. https://www.nerdfonts.com/cheat-sheet

[2020-10-28 19:13] MJECloud commented on #109
Thank you!

[2020-10-28 19:55] JanDeDobbeleer commented on #109
I'm going to add this context to the docs as well.

[2020-10-29 11:47] MJECloud commented on #102
After building my own theme and testing i can confirm that it works! 😊

![image](https://user-images.githubusercontent.com/22131101/97564420-dadbae00-19e4-11eb-929d-05e53f44cefb.png)

[2020-10-29 20:17] JanDeDobbeleer commented on #112
I know why this happens but I need to find out how to fix this. Basically the new invocation fails because that path only exists in PowerShell and `$startInfo.WorkingDirectory` is invalid.

[2020-10-29 20:39] JanDeDobbeleer commented on #112
The problem is that the fix will probably result in git and other info not working anymore. I'll give this some thought first.

[2020-10-29 20:40] bgelens commented on #112
Maybe?

[code]

[2020-10-29 20:44] JanDeDobbeleer commented on #112
That fixes it. Let's see if I can ship this tomorrow morning as today (as you can see) I'm fried.

[2020-10-29 20:45] bgelens commented on #112
No worries! I've unblocked myself :) Have a good rest! almost weekend 🍺

[2020-10-29 20:48] JanDeDobbeleer commented on #112
I think this way the could even be removed. I'll debug on Windows as well to be sure. Thanks a bunch for pairing 🙏🏻

[2020-10-30 12:56] JanDeDobbeleer commented on #65
@tillig when you have time can you double check on your end?

[2020-10-30 13:11] tillig commented on #65
Oh, yeah, sorry, I didn't get a notification that anything had changed. I'll try it today.

[2020-10-30 14:16] tillig commented on #65
Using 3.23.7, MacOS, iTerm2, PowerShell Core 7.0.3... No luck. At least, not when just running it from a command prompt. It's somewhat involved to switch my PS profile back and forth between OMP2 and OMP3 so in this case I just commented out the OMP2 from my profile and ran OMP3 directly. I'm not sure it would make a difference.

<img width="1217" alt="Screen Shot 2020-10-30 at 7 09 43 AM" src="ht

[2020-10-30 14:18] tillig commented on #65
I'm not great with ANSI codes, but the thing that clears to EOL... can that be given a particular color? What if I could provide it with my shell background color so even if PowerShell is getting the background color of the next line from the color ending the previous line (which I gather is the issue) it could be overridden by just saying, "No, the color to clear with is 'black' so do that, pleas

[2020-10-30 16:23] JanDeDobbeleer commented on #65
It clears the line meaning it actually removes all colors (and text). I could reproduce it consistently just like your screenshot, but with that fix it didn't happen anymore. That being said, I also changed the invocation so it could as well be the combination of both is needed for this. The only fix, which is a hack, would be to write the colors and restore the cursor but that just ridiculous. I

[2020-10-30 16:27] tillig commented on #65
Sure, it'll take a bit to swap over but I'll give it a go and get back here. Might not be today.

[2020-10-30 16:34] JanDeDobbeleer commented on #65
I've got time, I was trying to break it again but don't seem to be able to.

[2020-10-30 18:19] JanDeDobbeleer commented on #65
@tillig found it. I can reproduce your issue, I see what I have to do.

[2020-10-30 18:33] JanDeDobbeleer commented on #65
@tillig [v3.23.8](https://github.com/JanDeDobbeleer/oh-my-posh3/releases/tag/v3.23.8) contains a fix that solves it for me, I tried to recreate your prompt which got me the same issue. As I only cleared the line AFTER writing the prompt, it didn't work for multiline prompts when scrolling and only for the last line (that was my test intially). Now it clears the line after every write, which, at le

[2020-10-30 18:42] tillig commented on #65
🎉 🎉 🎉

SUCCESS! I can now run it and also no longer see the background color issue even when it scrolls. EXCELLENT WORK!

[2020-10-30 18:49] tillig commented on #65
Of course, [PowerShell Gallery is down now](https://github.com/PowerShell/PowerShellGallery/blob/891525f6f511211b27b199add903798ced9c5e4b/psgallery_status.md) so I can't upgrade my modules. But I'll get there. 😄

[2020-10-30 19:56] JanDeDobbeleer commented on #65
I can't even push modules 😭🤣

[2020-10-30 20:34] JanDeDobbeleer commented on #323
Hey @hesstobi that functionality is fully reworked (and working) in V3. https://ohmyposh.dev

[2020-10-30 20:36] JanDeDobbeleer commented on #321
Hey @ms3056 V3 has Conda support, check https://ohmyposh.dev

[2020-10-31 07:12] JanDeDobbeleer commented on #65
@tillig published. If everything checks out can you close the issue?

[2020-10-31 07:25] tillig commented on #65
Yup yup. It'll be Monday before I get back here but I'm on it.

[2020-11-02 15:19] tillig commented on #65
Verified- this totally works! I have oh-my-posh module v3.26.2 installed and running now without the issue. Thanks!

[2020-11-06 13:22] lnu commented on #126
Because oh-my-posh replace the git prompt, the `$gitStatus` global variable is not set in git-posh.
in this code(`posh-git.psm1`):
[code]
in `git-prompt.ps1`:
[code]
This code is never called if oh-my-posh is defined as current prompt.

The completion relies on `$gitStatus` it's only set if the prompt is not already set.

It means we can benefit of parameters completion but not git completion like

[2020-11-06 15:58] EmKayUltra commented on #126
@lnu that makes sense.  But why does it work when importing modules in the commandline?

[2020-11-06 16:38] lnu commented on #126
It "seems" to work but in fact you keep the initial $gitStatus variable.
I tried locally this scenario: I type git add then tab with some changes, then stash everything. If I do type again git add then tab, the auto completion still shows my stashe files(should be empty).

[2020-11-06 16:40] JanDeDobbeleer commented on #126
We could set the status in the Powershell module of Oh my Posh after rendering the prompt, no? If the function is available that is.

[2020-11-06 16:42] lnu commented on #126
Something like that yes 👍
It's available(Get-GitStatus)

[2020-11-06 17:34] JanDeDobbeleer commented on #128
This is a nu shell issue. Other shells have this behavior as well when the ANSI sequences aren't escaped properly (see [here](https://github.com/JanDeDobbeleer/oh-my-posh3/blob/main/renderer.go#L44)). Now, I tested this on MacOS myself an there it seems to work fine so this bug might be Windows only for nu.

[2020-11-06 17:47] JanDeDobbeleer commented on #126
@lnu @EmKayUltra I'm in a bit of a hurry, can either of you adjust your local copy of the module and check if this change resolves the issue (without adding latency)?

[2020-11-06 19:18] fdncred commented on #128
I'm trying to follow what you're saying. Do you mean nushell is not printing ANSI sequences correctly? Is there a way to see what OMP sees as the escape sequences?

I assume it's using the default section in your link since it's not one of the other shells. i'm not really sure how to troubleshoot this.

[2020-11-06 20:23] JanDeDobbeleer commented on #128
The ANSI characters are printed correctly, what happens on other shells is that the prompt length isn't calculated correctly when they aren't escaped in the prompt function, causing the cursor to do all kind of wonky stuff. Which is identical to what is happening here.

[2020-11-06 20:34] fdncred commented on #128
Ugh, this must be happening in `rustyline` since that's what nushell uses for it's prompt. I'm not going down that path again. I'll just rollback. :(

[2020-11-07 07:31] lnu commented on #126
see https://github.com/JanDeDobbeleer/oh-my-posh3/pull/130#discussion_r519147762

[2020-11-08 20:22] JanDeDobbeleer commented on #128
@fdncred I do see [this](https://github.com/nushell/nushell/blob/4e17292a12a7913c8cd308e81af4f9c9fcb3f4fc/crates/nu-cli/src/cli.rs#L457). And [also](https://github.com/luser/strip-ansi-escapes/issues/1).

[2020-11-09 07:04] JanDeDobbeleer commented on #133
I look for the `CONDA_ENV_PATH` and `CONDA_DEFAULT_ENV` environment variables, can you see if they hold a value? Unless `python(3) --version` doesn't output a value anymore in this case, which would also stop the segment from rendering entirely.

[2020-11-09 10:08] LeoCalbi commented on #133
First of all thanks for the fast replay.
This is the situation:

- `python --version` works in both the base and the environment

- `CONDA_ENV_PATH` isn't set in both cases

- `CONDA_DEFAULT_ENV` works as expected.

Could the problem be the version of Python in the case of the environment?
Because of the _:: Anaconda, Inc._ ?

![image](https://user-images.githubusercontent.com/16137253/98527185-fc

[2020-11-09 10:17] JanDeDobbeleer commented on #133
I'll test this, could be. I would expect it to show `flatland_rl 3.6.8 :: Anaconda, Inc.`

[code]

This passes, so something else is going on.

The only thing I see right now is that this one could fail somehow:

[code]

[2020-11-09 10:42] LeoCalbi commented on #133
Really don't know what to say.
The folder contains various *.py files, and as I cd into it the _base_ environment show itself in the python segment.
Don't know how activating an environment would cause it to lose track of these files.

Even leaving and returning to the folder with the *.py files, with the _flatland-rl_ environment already active didn't change the outcome.
![image](https://user-ima

[2020-11-09 10:43] JanDeDobbeleer commented on #133
I'll have to set up one myself to debug this realtime ;-)

[2020-11-09 12:14] LeoCalbi commented on #133
Thanks again! Let me know if I can help in any way 😉

[2020-11-09 12:28] flatrick commented on #20
I'm constantly getting **BATT ERR%**, I copied the theme and removed lines for battery, but the message just won't go away, in both Windows Powershell and Powershell 7.0.3 on Windows 10.

If I change my config to point to a different pre-made theme, these works just fine, but my modified jandedobbeleer.json behaves as if the block about battery info is still there.

I've verified with Process Moni

[2020-11-09 14:08] JanDeDobbeleer commented on #133
~~There's something about the Python segment that is off, I can reproduce this on my Mac as well.~~

<img width="852" alt="afbeelding" src="https://user-images.githubusercontent.com/2492783/98554427-fb3b2080-22a0-11eb-97c0-cb9ee91ac4f6.png">

To Windows it is...

[2020-11-09 14:39] fdncred commented on #128
@JanDeDobbeleer I played with the nushell code, commented it out and just passed the normal colored_prompt in and couldn't get it to work right. Maybe we just need to remove the ansi escape codes for colors and not all of them. Maybe that's what you're saying. I'll try to dig for a regex that can do that to see what happens.

Now that I think about it, I have no idea if what I suggested will make

[2020-11-09 16:41] fdncred commented on #128
So, for funsies I removed the color ansi escape sequences from the prompt to see if that made any difference.

P1 is before. P2 is after.
[code]

code
[code]
It apparently doesn't help because when I type the lines move up the screen like it's erasing whatever is in my window a line at a time as I type a character at a time. also, the cursor is moved way over to the right. so, it's clear, that i h

[2020-11-09 17:10] JanDeDobbeleer commented on #128
The exclusion of possible causes is also a sign of progress 😉

[2020-11-09 17:11] JanDeDobbeleer commented on #20
Point taken, I'm going to print a NO CONFIG/INVALID CONFIG text in the standard embedded theme (which is too identical to jandedobbeleer).

[2020-11-09 17:14] JanDeDobbeleer commented on #133
@LeoCalbi can you update to the latest version and see if that changes something?

[2020-11-09 19:23] LeoCalbi commented on #133
I updated but the problem persist with the `flatland-rl` environment.
![image](https://user-images.githubusercontent.com/16137253/98586212-b32ff400-22c8-11eb-9333-cf2323860370.png)
Then tried to make a new `test` one on the fly, and it works as expected😊 but still no luck with the other.
Do you think there is a problem with the name of the env?
![image](https://user-images.githubusercontent.com/16

[2020-11-09 20:41] JanDeDobbeleer commented on #133
That seems like most logical explanation yeah. I'll try that!

[2020-11-10 10:59] LeoCalbi commented on #133
I have tried to create a new env named `test-env` and even that works.

But I've found out something that might be interesting, if I create the environment using a different python version like 3.6.8 with a environment.yml file but with the names `test` or `test-env` or whatever else, it shows nothing, while if I use python 3.8.3 it works.

Here is my sample enviroment.yml

[code]

[2020-11-10 20:07] JanDeDobbeleer commented on #138
Can fix 👍🏻

[2020-11-11 12:44] JanDeDobbeleer commented on #142
<img width="852" alt="afbeelding" src="https://user-images.githubusercontent.com/2492783/98813008-cf947380-2423-11eb-80c1-d9699446bd89.png">

I have something like this (uses a prefix which show the folder icon, that's optional).
You can also do this :-)

<img width="852" alt="afbeelding" src="https://user-images.githubusercontent.com/2492783/98813114-fbaff480-2423-11eb-8cfe-8cfe0f0281d2.png">

[2020-11-12 19:34] JanDeDobbeleer commented on #147
This shows when the last command output wasn't `0`, meaning there was an issue with the previous command. This by design :-)

[2020-11-12 22:19] EmKayUltra commented on #147
ah, thanks for clarifying.  keep up the awesome work :)

[2020-11-13 06:33] JanDeDobbeleer commented on #147
What might be a good idea for this theme is that I remove the error string and only show the red cross. That'll look better 😬

[2020-11-13 11:11] JanDeDobbeleer commented on #149
Can do! This is set using the `set_console_title` property on settings [here](https://github.com/JanDeDobbeleer/oh-my-posh3/blob/main/engine.go#L142). We could extend this with a `console_title_style` property with the following values:
- `path`
- `folder`

[2020-11-13 11:14] JanDeDobbeleer commented on #150
Alright, can do! Great to see people like this ability.

[2020-11-13 15:28] catthehacker commented on #149
I've added replacing home directory path with `~` like in prompt: https://github.com/CatTheHacker/oh-my-posh3/blob/520c6e2771110d0e3c3dda48fe7cce3455f45f40/environment.go#L83
and I also was thinking of adding [`oh-my-fish`](https://github.com/oh-my-fish/oh-my-fish/blob/master/docs/Themes.md#default)-like style of prompt (https://github.com/CatTheHacker/oh-my-posh3/blob/520c6e2771110d0e3c3dda48fe7c

[2020-11-13 15:28] JanDeDobbeleer commented on #150
@Vixb1122 can you explain why step 1 is an improvement (maybe faster, but also needs some work in the release process). And I tried to figure out what `checkver` does but that's not entirely clear. I suppose it takes that path and looks for the most up-to-date version number and uses that in the `autoupdate` that has `$version` set. Did you validate that as well or do you have hands on experience

[2020-11-13 15:43] JanDeDobbeleer commented on #20
I changed the way it handles this, still seeing the error occasionally (Windows only though) but it now defaults to showing 100%. I never seem to be able to move fast enough to debug the [third party library ](https://github.com/distatus/battery)I use when it happens as it disappears within about a minute on my machine.

[2020-11-13 15:43] KaiWalter opened #324 "Alert pop-ups with bell sound on Mac OS PowerShell Core"
I use oh-my-posh for quite some time on Win10 and wanted to have the same experience on MacOS.

After installing and selecting e.g `Agnoster` theme, on each new prompt an alert with a bell sound appears.

It seems to be caused by this section:

https://github.com/JanDeDobbeleer/oh-my-posh/blob/f584c18dc98054e4a99f97d4e921f89ccf1ff2cd/oh-my-posh.psm1#L37

What is the background of this? Can it be o

[2020-11-13 15:49] JanDeDobbeleer commented on #149
@CatTheHacker the replacement of the home path is done in the `path` [segment](https://github.com/JanDeDobbeleer/oh-my-posh3/blob/main/segment_path.go#L68) as the environment needs to return the actual working directory for other tools to work with (which at times, really require the full path as `~` isn't compatible). What we can do is make/extend those function outside of the path segment and re

[2020-11-13 16:56] Vixb1122 commented on #150
@JanDeDobbeleer
After creating 'oh-my-posh3.json' in the [bucket](https://github.com/lukesampson/scoop-extras/tree/master/bucket) folder, the bucket maintainer can check and update versions from all software by periodically running '[checkver.ps1](https://github.com/lukesampson/scoop-extras/blob/master/bin/checkver.ps1) * -u' command.
`autoupdate` and `checkver` block must be added for the command

[2020-11-13 16:58] JanDeDobbeleer commented on #150
Thanks! This makes everything a lot clearer now. I'll get on it 👍🏻

[2020-11-13 20:30] arthurfrancioni commented on #322
same problem here

[2020-11-15 16:26] KaiWalter commented on #324
I took out

            if ($location.Provider.Name -eq "FileSystem") {
                $prompt += "$([char]27)]9;9;`"$($location.Path)`"$([char]7)"
            }

and had no negative impact so far.

[2020-11-16 06:01] 755452800 opened #325 "Emojis cannot show properly unless certain theme was once set/previewed in powersell"
Hi,

I ran into a problem when setting up my theme.
At first, I set my theme to "Powerlevel10k-Classic", it looks like the emojis (the traffic light like icon and the white x in a green box) **were not shown** (have already set font to Jetbrains Mono NF). But then I previewed the "Emodipt" theme and changed it back to "Powerlevel10k-Classic", the emojis were shown properly. Please see attached pic

[2020-11-16 14:07] JanDeDobbeleer commented on #163
Yes, this is possible, but it's sometimes found by trying a few combinations (there's more than one way). This one specifically can be created by using a plain and diamond segment.

[code]

Which results into this:
<img width="896" alt="image" src="https://user-images.githubusercontent.com/2492783/99261724-62b31c00-281d-11eb-9446-de26fa6a5db8.png">

[2020-11-16 21:25] springcomp commented on #163
Oh, yes, of course.
Thanks

[2020-11-17 15:43] LeoCalbi commented on #133
I updated to the latest beta 3.36.1 and now it works. 🎉
In case of flatland-rl environment it still doesn't render the python version, just the name, but it's still much more better than before.
Thanks for the amazing work!
If you need me to test whatever on my windows setup, even in the future, I'm available to help!

[2020-11-17 17:35] JanDeDobbeleer commented on #164
Can do. Let's simply align them 😀

[2020-11-17 18:45] catthehacker commented on #149
@JanDeDobbeleer Not sure if I know how 😄 I was thinking about exporting the `path` but then the types have to be matched and I haven't dived into whole project to know where is what.

[2020-11-19 16:44] KyleCrowley commented on #170
Upon further investigation, my initial solution will work, with the caveat that the title persists if the song is paused, so there's no way to "suppress" the segment if the song is paused (as the Spotify segment does). The Spotify player sets the title to `Spotify` (or `Spotify Free` if you don't not have Spotify premium), so that can be used to determine if the song is playing.

The good news is

[2020-11-19 16:45] lnu commented on #170
If the title persists it's even better. It will work like the macos version of the spotify segment.
The status will be paused with the right artist and track, instead of nothing on windows.

[2020-11-19 16:50] KyleCrowley commented on #170
Interesting. I'm on Windows so for me the segment just "disappears" when I pause Spotify (or if an ad is playing).

If we want to display a play/paused icon in the segment, we'll likely have to go down the Remote Control API route, as there's no way of determining if the song is paused purely from the title of the window.

[2020-11-19 18:07] JanDeDobbeleer commented on #170
If we go for remote control, it can be identical to MacOS Spotify. It's localhost so theoretically this should go fast.

EDIT: also that way it's cross platform from the start

[2020-11-19 18:45] KyleCrowley commented on #170
@JanDeDobbeleer Unless you want to implement this yourself, I can give this a shot.

[2020-11-19 18:45] JanDeDobbeleer commented on #170
Feel free to do so!

[2020-11-20 02:02] Vixb1122 commented on #150
@JanDeDobbeleer
You can install this program without support for WSL by the following code. In this way, it is not more work in the release process.
[code]

[2020-11-20 06:10] JanDeDobbeleer commented on #172
My first reaction is: euh...wat? I do not add spaces in between in the code. I can have a look but this is most likely a Powershell issue.

[2020-11-20 06:48] JanDeDobbeleer commented on #150
I did not forget about this. I spent A LOT of time trying to get the Windows execution time under control, which got merged yesterday. This is next on my list.

[2020-11-20 10:21] fedeiglesias commented on #172
Hi @JanDeDobbeleer  First of all, nice work with Oh-myPosh!  There were very few tools to spice up the windows terminals.
Yes, If it seems to be powershell because I just installed fluentTerminal from the store and the same thing happens here I leave a screenshot

![image](https://user-images.githubusercontent.com/21363793/99789173-7367d880-2b22-11eb-9ca1-70947928ed5a.png)

[2020-11-20 10:57] JanDeDobbeleer commented on #172
I'll try to reproduce. It's not because I don't understand where this is coming from, it can't be fixed 😉

[2020-11-20 11:43] JanDeDobbeleer commented on #176
I'll check and patch 😉

[2020-11-20 12:02] JanDeDobbeleer commented on #176
Fixed. You tried to set `main.version`, but that doesn't exist as your variable was called `currentVersion`. I updated the code to just use `Version`, this works as expected now.
<img width="1719" alt="image" src="https://user-images.githubusercontent.com/2492783/99798078-a618cd80-2b30-11eb-983b-7782c6dc9ecb.png">

[2020-11-20 12:32] MJECloud commented on #176
Great thank you! 😊

[2020-11-20 12:44] fedeiglesias commented on #172
yes, apparently Powershell get angry when try to hide his beautifull startup text... Thank you for your support @JanDeDobbeleer !!!

[2020-11-20 14:20] Vixb1122 commented on #150
@JanDeDobbeleer
The "posh-windows-wsl-amd64.7z.sha256" file is missing from the release file.
Please add argument ` -NoNewLine` to `$fileHash.Hash | Out-File -Encoding 'UTF8' posh-windows-wsl-amd64.7z.sha256` to make the following text work.
https://github.com/JanDeDobbeleer/oh-my-posh3/blob/a73641d2d7dc36089c65d6d53b77c4e105afbad4/packages/scoop/oh-my-posh.json#L30-L32

[2020-11-20 14:30] JanDeDobbeleer commented on #150
Aaaah. Ok. Got it. Will do.

[2020-11-20 14:41] JanDeDobbeleer commented on #177
I'll check, I didn't create that (and it's brand new) @lnu care to have a look?

[2020-11-20 15:28] lnu commented on #177
of course
I think it was integrated later than in version 3.38.0-beta. Can you try the latest one?

[2020-11-20 16:44] fedeiglesias commented on #177
With the latest version is working like a charm 👌! Thank you @lnu !!!  🙌

[2020-11-20 18:35] JanDeDobbeleer commented on #325
Hey @755452800, that's because it loads those icons at the end, probably wrong. The good news is, this theme is available in V3, I would advice to have a look at [upgrading](https://ohmyposh.dev/docs/upgrading).

[2020-11-20 18:36] JanDeDobbeleer commented on #324
I you want to fix this, have a look at [V3](https://ohmyposh.dev/), this has been addressed in there and you can even use it in zsh and bash ;-)

[2020-11-20 21:48] turtlebasket commented on #172
I'm noticing this as well with Powershell 7.1.0

[2020-11-20 21:51] JanDeDobbeleer commented on #172
If this is rather new, I suspect the debug parameter. That's my preliminary theory for now.

[2020-11-21 07:23] JanDeDobbeleer commented on #179
Let's see what can be done. I think it's possible, and the suggestion could even work in terms of interface.

[2020-11-21 10:11] 755452800 commented on #325
Got it! Thanks for helping!

[2020-11-21 10:11] #325 closed

[2020-11-21 11:40] shedric1 commented on #179
I was looking for a way to do this, and the syntax suggestion inspired me to get it set up. Hope that's all right! I'm no expert with Go, so feel free to suggest changes/totally alter it as needed.

Existing themes with in-line colors shouldn't need to change anything, the suggested syntax only adds new options.

And now I can connect `plain` style segments to `powerline` segments without a blank

[2020-11-21 20:01] JanDeDobbeleer commented on #179
Should be live! (or ASAP 😅)

[2020-11-22 00:35] fedeiglesias commented on #179
@shedric1 thank you very much mate! I think i need to learn some GoLang 😄
@JanDeDobbeleer  I'm in love with oh-my-posh!!! in my new job we use Win env for work and I won't miss bash at all!
Here is the feature working like a charm 👌

![ohmyposh](https://user-images.githubusercontent.com/21363793/99890762-fee88300-2c62-11eb-92b2-f8125e26d20b.gif)

[2020-11-22 12:27] MythreyaK opened #326 "Python VENV isn't disabled"
Python's `virtualenv` prompt can be disable by using an env variable. I think I can add a pull-request by adding a line to set `$env:VIRTUAL_ENV_DISABLE_PROMPT="True"`.

Given there's the v3 going, wasn't sure if I should open a pull-request, but says repo would accept bug-fixes, so thought I'd open an issue before proceeding.

Do let me know if I should go ahead, and where to add the line.

[2020-11-22 12:36] MythreyaK commented on #326
I just noticed it doesn't happen with `venv` included in `python3`, but happens with `virtualenv` package.

[2020-11-22 13:48] JanDeDobbeleer commented on #172
I can't reproduce this on my Mac using PowerShell... I'm waiting for a Windows machine to continue testing there. Stay tuned 👍🏻

<img width="1005" alt="image" src="https://user-images.githubusercontent.com/2492783/99905548-be741e00-2cd1-11eb-8253-c939f3da2a8f.png">

[2020-11-22 23:09] fedeiglesias commented on #172
@JanDeDobbeleer i dont know why, i think with the latest versions (3.44.0) this error not appear anymore 🎉!
If i have any notice about it i will report here 👍

[2020-11-23 07:45] JanDeDobbeleer commented on #183
1. could work, but I'd rather loop the themes and print them for example (this functionality exists in the Powershell package)
2. technically not possible

[2020-11-23 19:43] turtlebasket commented on #172
I'm still having this problem, even with 3.44.1. I'm not especially bothered by it (the startup message is only a marginal annoyance), but do know that this didn't happen when I tried switching oh-my-posh to v2--- so I think the problem probably has something to do with v3.

[2020-11-23 20:02] JanDeDobbeleer commented on #172
Probably, as V3 is significantly different on how it renders this. Somehow Powershell is a bit of a PITA when it comes to ANSI although the position of the space (or rather omitting of the bg color) has in theory nothing to do with ANSI.

[2020-11-24 11:49] catthehacker commented on #183
I wouldn't mind making list of themes with screenshots.

[2020-11-24 14:05] JanDeDobbeleer commented on #186
Probably because it accesses `kernel32.dll` to figure out certain stuff. Given that I own the source, the builds are done completely within the GitHub ecosystem, yes these are false positives. I do not pack malware, which I hope can be illustrated by the source and build pipeline available here.

[2020-11-24 14:06] JanDeDobbeleer commented on #187
I don't think this is impossible, let's try it.

[2020-11-25 04:36] KaiWalter commented on #324
Thanks @JanDeDobbeleer - right, with V3 the effect is gone.

[2020-11-25 04:36] #324 closed

[2020-11-26 07:41] JanDeDobbeleer commented on #191
This is available in the PowerShell package. When installing omz it also packs the themes, that's not the same here depending on what you do. For PowerShell, Scoop and Homebrew this is true, but not for manual installs and definitely not in terms of function definition.

[2020-11-26 07:47] JanDeDobbeleer commented on #189
Good news @cprivite, [Scoop](https://ohmyposh.dev/docs/scoop) is available ;-) As for Winget, I was waiting on a stable basis (and a Windows machine too).

[2020-11-26 07:55] Vixb1122 commented on #191
Is there another way to implement this feature?

[2020-11-26 08:06] JanDeDobbeleer commented on #191
I was thinking of reworking `main.go` to include a flag like `-render-themes` which accepts a path. This can then loop and display every file in the folder that matches a theme definition (will tackle that in #184 -> `*.omp.json`)

[2020-11-26 08:07] JanDeDobbeleer commented on #183
@CatTheHacker would be interesting to add that to the docs. Feel free to give it a go.

[2020-11-29 18:36] sql-sith commented on #305
Thank you!

[2020-11-30 18:51] JanDeDobbeleer commented on #204
Yup. That's actually a change I've been meaning to do for some time 😅. Can you make a small PR, or shall I fix it?

[2020-12-02 08:36] JanDeDobbeleer commented on #207
Only 5 is an issue. V2 fails on 3, which should be an error. It's also a Powershell only issue as on zsh I do get the right behavior:

1. error
2. no error
3. error
4. no error
5. error

EDIT: on Powershell 7 I also don't get an error on 1, so most likely 1 and 5 are the same issue (should be given the command).

[2020-12-02 08:44] meakbiyik commented on #207
How interesting, that we are getting that many different outputs. If it helps, here are my powershell versions:

pwsh 5:

[code]

pwsh 7:

[code]

Btw, the command on the errors for stage 1 and 5 were `I am an error`, letter by letter, if I caused any confusion with that.

[2020-12-03 07:51] JanDeDobbeleer commented on #191
Looking at this again with a fresh set of eyes, it's not something that the executable should provide. We now have the preview page, the Powershell package has the `Get-PoshThemes` cmdlet and if you're on bash/zsh, it's rather easy to do using `for file in themes/*.omp.json; do echo "$file\n"; oh-my-posh --config $file --shell universal; echo "\n"; done;`

[2020-12-03 07:57] Vixb1122 commented on #191
There is not a `Get-PoshThemes` cmdlet in the powershell package if you install this program manually.

[2020-12-03 08:51] JanDeDobbeleer commented on #191
That's right, I'm writing a small addition to the docs. I expect people to know how to do this when they go down the manual route ;-)

[2020-12-03 09:48] JanDeDobbeleer commented on #216
I'd opt for the ability to hide when charging, which means plugged in. I actually like that.

[2020-12-03 15:31] JanDeDobbeleer commented on #218
We've seen this before but there's nothing I can do to mitigate that as far as I'm aware. Maybe there's a way to sign this and become accepted but on my own machine for example that doesn't happen.

[2020-12-03 15:37] audunn commented on #218
BTW reverted to 3.46.1 it is working fine

[2020-12-03 16:28] JanDeDobbeleer commented on #218
Let me do a diff and have a look what might trigger this.

[2020-12-04 01:34] JasperSurmont opened #328 "Set-Theme is not recognized as a cmdlet"
Hey, I tried installing oh-my-posh in multiple different ways, but I always get that Set-Theme is not a valid cmdlet.

What am I doing wrong?

[2020-12-04 03:28] truongan012 opened #329 "[Question] How to set console title to the current working directory (not full or relative path)"
As mentioned, I'd like to change my console title to base name of current working direction.
Can you tell me how to do it.
Thanks

[2020-12-04 05:42] lnu commented on #216
@JanDeDobbeleer  I'd rather like to hide it when the battery status if Full. If my latpop is almost empty and I plug it, I'd like to know it's charging until it's Full, then hide it.

[2020-12-04 06:10] JanDeDobbeleer commented on #220
@otaconjh this is a first guess, I'll look into it later today, but I think you need to set the encoding to utf8 in Out-File.

`-Encoding utf8`

[2020-12-04 06:13] rockyyee opened #330 "Oh~Could you help me？？ I can't display git prompt . The state just displays "PS" ...."
My terminal path like this:

     @Rocky ➜  gitTestPS>

and I can't resolve this problem...

[2020-12-04 06:20] #330 closed

[2020-12-04 07:50] lnu commented on #187
would be nice to have the same for the mappedLocations in the path segment.

[2020-12-04 09:34] JasperSurmont commented on #328
Closing since it's a V3 issue, not V2

[2020-12-04 09:34] #328 closed

[2020-12-05 18:38] JanDeDobbeleer commented on #220
@otaconjh confirmed on my machine to be working with the proper encoding, although it's `oem`:

2. `Write-PoshTheme | Out-File -FilePath ~/.go-my-posh.json -Encoding oem`

[2020-12-05 18:41] JanDeDobbeleer commented on #218
@audunn can you check if 3.47.0 works? That's the only one which does something "new" as in execute http requests, which might be the cause.

[2020-12-05 19:41] ghost commented on #220
Thank you

[2020-12-06 09:08] giansluca opened #331 "Weird line appered when i start my terminal"
Hi, I'm getting new messy string when i launch my terminal (Windows terminal).
I haven't seen it before, It suddenly appeared, and now is there every time i open the terminal.
If i press enter i got back my normal propmt, as shown in the picture attached.

Theme is robbyrussel.
If i disable "Set-Theme" in my profile, the string disapperas.

<img width="613" alt="Screenshot 2020-12-06 at 09 59 53"

[2020-12-06 09:30] tushev commented on #331
Same here. In my case it looks like:
![image](https://user-images.githubusercontent.com/18406797/101276503-1e3cef80-37cf-11eb-8f87-871cbb12635e.png)

I'm running PowerShell 7.1.0. I also have Cygwin installed (in case it matters, cause some utilities like git may (or may not) be called from Cygwin).
I tried deleting everything in `%USERPROFILE%\Documents\PowerShell` and then
[code]
ass suggested i

[2020-12-06 10:00] giansluca commented on #331
now i realized, if i enter in git folder i get a total mess

<img width="1243" alt="Screenshot 2020-12-06 at 10 58 27" src="https://user-images.githubusercontent.com/11060553/101277106-3c482700-37b2-11eb-81de-ef3f0c5ecc74.png">

[2020-12-06 10:04] tushev commented on #331
I've just solved the problem for myself - I ran `C:\Windows\System32\rundll32.exe sysdm.cpl,EditEnvironmentVariables`.

Then I put `X:\*Git for Windows*` **above** `X:\*Cygwin*` in `PATH` environment variable (so Git for Windows goes first).

Now everything seems to be working.

[2020-12-06 16:44] JanDeDobbeleer commented on #331
All you need to do is import git's bin folder and you should have all you need. That's how I did it back in my Windows days.

[2020-12-06 17:00] audunn commented on #218
Hi, I tried that and my very unscientific testing revealed nothing. In fact so much nothing that I am now completely unable to reproduce this on any version and tried several.  Currently on latest 3.49 and working fine.
Don't know what to tell you to be honest.  But that is where we are at.

[2020-12-06 17:02] JanDeDobbeleer commented on #326
You can open a PR, let's see if this also happens on V3 and maybe extend that as well to keep everything in line.

[2020-12-06 17:08] #323 closed

[2020-12-06 17:09] JanDeDobbeleer commented on #322
@arthurfrancioni make sure to set a Powerline font. Nerd Fonts has a good collection and Cascadia Code PL work up to a certain level.

[2020-12-06 17:10] #322 closed

[2020-12-06 17:10] #321 closed

[2020-12-06 17:11] JanDeDobbeleer commented on #329
@truongan012 V3 has support for this, have a [look](https://ohmyposh.dev/docs/configure#general-settings).

[2020-12-06 17:11] #329 closed

[2020-12-06 17:11] #331 closed

[2020-12-06 17:14] JanDeDobbeleer commented on #218
I'll close this then until it pops up again.

[2020-12-06 18:39] JanDeDobbeleer commented on #187
@DotNetSparky good news, it's backwards compatible AND you can choose to do the opposite as well using a [negative lookahead](https://www.regular-expressions.info/lookaround.html). The docs will contain all information to get this up and running.

@lnu can you create a new issue for the `mapped_locations` regex?

[2020-12-06 19:30] giansluca commented on #331
yes it works :D

[2020-12-07 07:42] JanDeDobbeleer commented on #226
Correct, some icon are acting annoying. Unfortunately it's not something I can fix, that's a Nerd Font issue.

[2020-12-07 10:37] B4Art opened #332 "[System.Console]::ForegroundColor -eq [System.Console]::BackroundColor"
Sometimes  for instance using:
[code]
Background AND Foreground become the same color.
$a does give output but is unreadable.
As a bugfix in a theme.psm1 file after the final $prompt you can add the following code
[code]

[2020-12-07 10:56] B4Art commented on #182
Could be the way you import the module. There are many options.
In elevated (admin) mode:
-Scope AllUsers places the module in C:\Windows\Powershell\Modules
-Scope CurrentUser places the module in C:\Users\<Username>\Documents\Powershell\Modules
If you do both the CurrentUser place is used by default.
The theme-path itself also are different:
C:\Program Files\PowerShell\Modules\oh-my-posh\<oh-my-p

[2020-12-07 14:20] JanDeDobbeleer commented on #182
This was specifically related to UTF8 which made it so the rendering of the icons/font wasn't correctly. Now, in the meantime A LOT has changed in terms of invocation so the issue could be gone.

[2020-12-08 00:08] Tim-0731-Hzt opened #333 "powerline display error on default powershell"
Hello,
Following the guide, I successfuly set up the powerline on windows terminal like this
<img width="662" alt="Screenshot 2020-12-07 233001" src="https://user-images.githubusercontent.com/67449730/101420115-a3e2ab80-3945-11eb-8a0f-ee1aafaa008a.png">

But on default Powershell, it displays like this, some weird box
<img width="840" alt="Screenshot 2020-12-07 232902" src="https://user-images.git

[2020-12-08 13:08] B4Art commented on #333
Possibly a different font selected

[2020-12-09 01:04] Tim-0731-Hzt commented on #333
thanks, I got it

[2020-12-09 01:04] #333 closed

[2020-12-10 12:27] #326 closed

[2020-12-10 12:28] JanDeDobbeleer commented on #332
@B4Art have a look at [V3](https://ohmyposh.dev) as I'm not going to resolve this for V2 :-)

[2020-12-10 12:28] #332 closed

[2020-12-10 14:38] MythreyaK commented on #133
Doesn't seem to work on python's `venv` too. I'm on version `3.51.0`, installed from `PSGallery`.

![image](https://user-images.githubusercontent.com/26112391/101785909-515ee600-3b23-11eb-8471-f7b6c82ac0b8.png)

[2020-12-10 18:50] JanDeDobbeleer commented on #133
Are there python files in that directory @MythreyaK ?

[2020-12-10 19:44] MythreyaK commented on #133
Ahh, I see, there need to be python files! My bad. Yeah it shows up now, but the bit on the starting `(env-name)` is still there. Is that expected behavior?

[2020-12-11 10:16] WizX20 opened #335 "PS Core 7: The term 'Set-Theme' is not recognized"
- Windows Terminal 1.4.3243.0
- PowerShell Core 7.1.0
- Oh-My-Posh V3

![image](https://user-images.githubusercontent.com/1008647/101891407-45663900-3ba2-11eb-9b70-5a71573077b9.png)

[code]

[2020-12-11 11:52] CoffeeGuyIRL opened #336 "Theme acting glitchy and not showing correctly"
Ello, I'm trying the Paradox theme, and this is what is happening
![image](https://user-images.githubusercontent.com/75714323/101900353-58463100-3bd5-11eb-92cb-b5830a681d6f.png)

I don't think that this is supposed to happen? Please fix this 😄

[2020-12-11 15:26] JanDeDobbeleer commented on #133
@MythreyaK can you clarify what you see vs what you expect to avoid me saying silly things?

[2020-12-11 15:28] JanDeDobbeleer commented on #336
You need to configure your terminal to use a Powerline enabled font. Cascadia Code PL has this, but for full compatibility, any [Nerd Font](https://www.nerdfonts.com/) will do.

[2020-12-11 15:28] #336 closed

[2020-12-11 15:36] JanDeDobbeleer commented on #335
V3 changed the cmdlet names to no longer conflict with others. Have a look [here](https://ohmyposh.dev/docs/upgrading) for more context.

[2020-12-11 15:36] #335 closed

[2020-12-11 16:26] MythreyaK commented on #133
What I see,
![](https://user-images.githubusercontent.com/26112391/101785909-515ee600-3b23-11eb-8471-f7b6c82ac0b8.png)

What I thought I'd see (like in the previous version) something like this in the prompt
![image](https://user-images.githubusercontent.com/26112391/101928279-6444e980-3bfb-11eb-95e9-55a31d52de06.png)

[2020-12-11 16:37] JanDeDobbeleer commented on #133
Ok, so when you're in a folder with python files this context should show. It supports a few virtualenv tools, when enabled it shows the one with the first match.

[2020-12-12 05:25] MythreyaK commented on #133
Yep, I'll manually set the env variable to prevent `env`at the start from showing up.

![image](https://user-images.githubusercontent.com/26112391/101976063-a441b600-3c67-11eb-8e42-d9cdc2bb5d8e.png)

[2020-12-12 07:32] JanDeDobbeleer commented on #133
That .env at the start is done by the tool you are using, which one is it? As I can't manipulate that it needs to be disabled in the tool itself.

[2020-12-12 10:29] MythreyaK commented on #133
Yeah I mean to say, that is added by the python virtual environment tooling (the activate script). I dealt with this by adding `$env:VIRTUAL_ENV_DISABLE_PROMPT="True"` in my powershell profile. Not sure how the others don't have the leading prompt from `virtualenv` or `venv` tooling.

[2020-12-12 11:48] SirJson commented on #201
It looks like the bug is still around in the latest version:

![grafik](https://user-images.githubusercontent.com/1042414/101982865-28e80080-3c77-11eb-9b90-c613db6c534b.png)

The thing is what you suggested in that PR I fully agree with, this was obviously better than my solution. Though assuming you implemented that why is the config in my PR still fixing it even if it's ugly and more like a hack

[2020-12-12 11:59] JanDeDobbeleer commented on #201
@SirJson I didn't see this anymore since I implemented the fix. That said, a theme can have spaces at which time this becomes an issue again. To be fully clear, this bug does not originate from oh-my-posh, it's either the terminal or Powershell doing this, we can only try to work around it.

[2020-12-12 12:11] SirJson commented on #201
True I also ~think~ thought Powershell is the real problem here, but try to talk to Microsoft about such an "issue".

Now that I think about it a bit more I thought okay what if I launch the same PowerShell with the same parameter but don't use the Windows Terminal but whatever is used usually for cmd.exe.

![grafik](https://user-images.githubusercontent.com/1042414/101983359-ec1e0880-3c7a-11eb-87

[2020-12-12 12:23] JanDeDobbeleer commented on #201
I think I can fix the theme though. It still includes an actual space.

[2020-12-12 14:15] DotNetSparky commented on #187
@JanDeDobbeleer - That is awesome, thank-you!

[2020-12-14 09:43] firlus commented on #236
I was wrong about when it happens, it happens even after a successful command.

[2020-12-14 10:41] firlus commented on #236
I did some debugging, `$history.Duration.TotalMilliseconds` was not set (but $history was for some weird reason, making the cli parameter for oh-my-posh null which led to it not executing. I edited my config so that it ignores the history, now it works.

I don't know whether this is a problem on my system...

[2020-12-14 10:53] JanDeDobbeleer commented on #236
I will however take that into consideration and adjust the code to not fail on that.
@firlus what did you change exactly? Maybe I can use your working setup as an example.

[2020-12-14 10:55] mendoncaftw commented on #236
I have the exact same result, how can I go about debugging the profile script?

[2020-12-14 10:55] JanDeDobbeleer commented on #236
I will create a small fix for this based on @firlus fix.

[2020-12-14 11:06] JanDeDobbeleer commented on #236
@mendoncaftw @firlus I did a quick commit which _could_ fix it, would be great if you can confirm this fixes the issue. Still wonderding why it doesn't have a history with timings, but that's something else.

[2020-12-14 11:16] mendoncaftw commented on #236
@JanDeDobbeleer I looked at your PR and changed the script on the profile but I continued to have the default PS> prompt.
I installed through scoop, noticed I didn't have access to any 'Get-PoshThemes' and 'Set-PoshPrompt'. I noticed those functions being defined in the same file next to the profile instructions so I copied that file over to my profile and could access the functions but now obviou

[2020-12-14 11:19] JanDeDobbeleer commented on #236
Correct, Scoop only installs the binaries. Although the setup instructions do explain what to alter when installing with Scoop, if you're not proficient in Powershell and only want to go for a Powershell integration, the module is preferred.

[2020-12-14 11:24] firlus commented on #236
Wow, that was quick, thanks for the help!
Your fix worked, it was basically what I also tried to do to fix the problem.

Thanks for your great tool, I will try to look into creating an own segment since I am trying to learn Go right now and I really love this project!

[2020-12-14 11:25] mendoncaftw commented on #236
Well, you also helped me because following all the instructions about Powershell without mixing in scoop also worked for me.
Thank you @JanDeDobbeleer for your help and amazing work. 👍🏻

[2020-12-14 22:01] meakbiyik commented on #216
Everything looks neat, but it does not work for me :( My battery stops charging after 98%, so I imagine it does not return battery.Full == true, but it is not charging either although it is plugged in. I imagine the check should not be with the flag battery.Full, but it should be with (pluggedIn && !battery.Charging)

[2020-12-15 06:10] JanDeDobbeleer commented on #240
@meakbiyik this is almost a duplicate of #239, can you check and add this context there? That way we can come up with 1 way to cover these cases 🙏🏻

[2020-12-15 07:31] meakbiyik commented on #239
I missed this issue and opened mine several hours later --sorry about that. Here are my use cases:

1. When I want to start jupyter, or just do some basic scripting by opening the terminal, I would like to know at least which python I am using, e.g base conda or some other conda?

2. When I am writing a package, I always use an environment in the root location (a PEP-compliant dependency managemen

[2020-12-15 08:00] JanDeDobbeleer commented on #239
@meakbiyik if I get this right, for 2 we could also just look for the `.venv` folder or `pyproject.toml` file and display the Python info, right? Is there something similar for Jupyter?

@rsb177 do you have the same setup, as in there is a `.venv` folder in the root of the project, or a configuration file?

Going through subfolders is discouraged as you'd have to decide how deep to go which will n

[2020-12-15 12:09] rsb177 commented on #239
I love Poetry. The pyproject.toml in the root would solve that.  It stores the venvs in the home folder though.  For my company, they just use makefiles and docker containers for everything, so I just create my own venv folder in the project root.  The only downside to looking for the venv or .venv folder in the root is you'd be locked into certain names.  My preference is definitely to name the v

[2020-12-15 12:27] meakbiyik commented on #239
@JanDeDobbeleer pyproject.toml is getting more and more common as it is recommended by the language itself, but I wouldn't say that it is an absolute standard yet. Also, as @rsb177 points out, virtual environment being inside the package folder is not very common either (there is a flag in Poetry for that which is false by default), and even then the name of such a folder is far from standardized.

[2020-12-15 18:06] JanDeDobbeleer commented on #239
I'll need to read through this tomorrow morning as I can't seem to wrap my head around it right now. Drafting a flowchart might make it clear. I'm looking for the most pragmatic solution, as the more logic we have, the slower things can become ;-)

[2020-12-16 01:13] rsb177 commented on #239
To make it easy, you could always add an option to always show the venv if the environment variable is set. I know powerline-go just looks for the presence of the environment variable.

[2020-12-16 07:01] hbinkle opened #337 "brocken git info on one repo"
Hi,
on one of my repos I have strange broken git info:
![image](https://user-images.githubusercontent.com/51942180/102315521-94cab180-3f74-11eb-8df7-e5fe6e497c0d.png)
any ideas how to get rid of those?
I seems like this is caused by missing a pull. I know that there are 4 commits I've not yet pulled.
my GitPromptSettings (are still default):
[code]

[2020-12-18 06:14] JanDeDobbeleer commented on #337
@hbinkle no idea how this occurs although there were issues with non-native git binaries doing weird stuff. The good news is that this doesn't occur on [V3](https://github.com/jandedobbeleer/oh-my-posh3).

[2020-12-18 06:14] #337 closed

[2020-12-18 06:37] hbinkle commented on #337
hm.. in V2 I was able to adjust the prompt output of a theme (e.g. I added ks8 info for current cluster and namespace):
![image](https://user-images.githubusercontent.com/51942180/102582852-be661300-4103-11eb-9d90-9c18c7be1f72.png)
how can I do this in V3 as it's themes are only json files?

[2020-12-18 12:02] JanDeDobbeleer commented on #337
@hbinkle there's the [kubectl](https://ohmyposh.dev/docs/kubectl) segment for example. If that's not enough you can always use the [environment variable](https://ohmyposh.dev/docs/environment) segment and preload some env vars before the redering to contain this context and display it.

[2020-12-19 07:38] darthwalsh commented on #228
I couldn't figure out how to correctly uninstall oh-my-posh, but this worked for me:

Find the `oh-my-posh` folder, likely in this folder: `$env:PSModulePath.Split([System.IO.Path]::PathSeparator)[0]`. I renamed it to `no-my-posh` but you could also just delete it.

[2020-12-19 18:25] JanDeDobbeleer commented on #249
@yihuajack that's a feature oh-my-posh can't add as it's only use is to adjust the prompt. Unlike ZSH it's not a shell, so it can't access the commands being entered. To get this behaviour, either use ZSH with oh-my-posh, or create your own validator depending in the shell you're in.

[2020-12-24 07:27] CoolLiuzw opened #339 "oh-my-posh slow, but only for certain Git repo"

[2020-12-24 13:08] JanDeDobbeleer commented on #20
Closed due to finding the use-case and having a hack in place.

[2020-12-24 15:33] just1a-person commented on #261
@JanDeDobbeleer When will this be released?

[2020-12-24 15:46] JanDeDobbeleer commented on #261
@itsme-alan it's available. Everything flows automatically after a merge 😉

[2020-12-24 22:29] JanDeDobbeleer commented on #268
@behrouzrostam color me intrigued. Care to elaborate?

[2020-12-25 22:37] JanDeDobbeleer commented on #339
@CoolLiuzw try this with [V3](https://ohmyposh.dev/docs/upgrading), but do know it can be because of the repo.

[2020-12-26 11:49] JanDeDobbeleer commented on #273
@PedroDBFlores when using the module, you don't need to follow the installation guide. It contains helper functions for all instructions in that guide. See the [package docs](https://ohmyposh.dev/docs/powershell) for that info.

In your case, you can replace the `Invoke` statement with `Set-PoshPrompt -Theme ~/.theme.omp.json `

[2020-12-26 11:53] PedroDBFlores commented on #273
Well that worked, thanks a lot. Maybe I misunderstood while following the guide 👍 .

[2020-12-26 11:57] JanDeDobbeleer commented on #273
@PedroDBFlores if you can let me know where that misinterpretation came from I can adjust the docs accordingly. More people seem to be struggling with this.

[2020-12-26 14:43] PedroDBFlores commented on #273
Rereading the pages, for me it wasn't clear that I couldn't set that directly on the $PROFILE, on the last bit on [https://ohmyposh.dev/docs/powershell]( https://ohmyposh.dev/docs/powershell) there it says you can customise and set it directly on $PROFILE, but not sure if it should call `Set-PoshPrompt` on every $PROFILE load, which I guess I should.

[2020-12-27 01:20] sql-sith commented on #264
This has been happening on my laptops also. Cygwin has never been installed on either of them (as some others found problems with) and I've never had my prompt code moved out to an auxiliary script (as 2judgeaxl did). However, I did have my prompt function defined right before running `Start-SshAgent` as well as several calls to `ssh-add`.

Taking a cue from @judgeaxl 's comment above, I commented

[2020-12-27 03:52] allenk opened #340 "Unreadable Symbol in PowerShell Core of Linux"
Unreadable Symbol in PowerShell Core of Linux. (my term is Xfec4 default term running on WSL2)
To fix it, I have to comment out this line in oh-my-posh.psm1
[code]
I also try [kitty](https://github.com/kovidgoyal/kitty)
It will try to hint me with escape symbol error messages for every line.

My default shell in WSL2 is ZSH and run with Oh-My-ZSH. Everything seems fine so that I think it's possibl

[2020-12-27 15:27] JanDeDobbeleer commented on #279
Top of my head I would say the text segment might be better suited for that. Although, if the shell itself substitutes those sequences once prompt is set, you could also use the properties prefix and postfix for example. Just double check if you need to escape the sequences correctly (percentage symbol is used in go as a means to replace text in strings on format).

[2020-12-27 15:39] amoldeshpande commented on #279
Text segments  worked perfectly ! thank you !

[2020-12-27 17:46] JanDeDobbeleer commented on #340
Hey @allenk. V3 should fix that issue for you. You can follow the [guide](https://ohmyposh.dev/docs/upgrading), just know it will not be compatible with any V2 custom theme, but creating your own is a lot faster than what V2 could offer.

[2020-12-27 19:07] lzcunt commented on #281
Misclicked enter while typing, sorry

[2020-12-27 19:14] lzcunt commented on #281
Reopened after actually typing the issue body, sorry for misclicking and opening the issue without writing it all.

[2020-12-27 20:21] JanDeDobbeleer commented on #281
It escapes the `\`. Interesting. I'll try to reproduce.

[2020-12-28 06:14] allenk commented on #340
Thanks for your quick reply. I will try v3 immediately.

[2020-12-28 08:41] jakehelme commented on #259
Thank you! The fix is working perfectly 😄

[2020-12-29 14:19] tradiff commented on #281
@JanDeDobbeleer I don't know if it's the proper fix, but I was able to resolve this by adding this to the top of the getShellInitScript function
[code]
I hope this saves you a bit of time. I don't know enough about the new init feature or the different shell combinations to know whether this breaks things for some other use case.

[2020-12-29 18:55] JanDeDobbeleer commented on #281
@TravisTX that should work. I believe Powershell can resolve that on Windows as well. Will check.

[2020-12-30 14:14] tradiff commented on #288
Ah, yep I am able to reproduce this only when I'm in a folder that contains a git repository. Maybe we can move `Set-GitStatus` to be before the restoring of `$LASTEXITCODE`

[2020-12-31 16:12] JanDeDobbeleer commented on #298
We could do an experimental build to see if this all works according to expectations. Adding that build as output isn't the tricky part, validating it could might be. I'll see what I can do.

@patriksvensson to be clear, we're talking about a Windows x86 build, right?

[2020-12-31 17:18] JanDeDobbeleer commented on #299
It did so before. Noticed that too, will investigate!

[2020-12-31 19:35] JanDeDobbeleer commented on #299
@floh96 fixed. Happy newyear!

<img width="690" alt="image" src="https://user-images.githubusercontent.com/2492783/103423588-bd26f280-4ba7-11eb-8882-70bb1a7783c8.png">

[2021-01-01 06:27] lnu commented on #298
While adding an x86 build we can keep an eye on this: https://github.com/golang/go/issues/36439

[2021-01-01 11:16] patriksvensson commented on #298
@JanDeDobbeleer Yes, We're talking about Windows x86 builds.

If it becomes too much work or if it becomes difficult to validate or maintain, we could skip adding x86 builds. It's not super important to me and no one else seemed to have asked for it.

[2021-01-01 12:19] JanDeDobbeleer commented on #298
@patriksvensson I'm going to try to give you one for the new year 😉

[2021-01-01 14:24] JanDeDobbeleer commented on #298
[posh-windows-386.zip](https://github.com/JanDeDobbeleer/oh-my-posh3/files/5759028/posh-windows-386.zip)

Let me know if this works, because it was waaaay to easy to get this build meaning I'm highly skeptical this is correct. It checks out as a `PE32 executable (console) Intel 80386 (stripped to external PDB), for MS Windows` executable so 🤞🏻

[2021-01-01 14:26] patriksvensson commented on #298
@JanDeDobbeleer Awesome! I'm going to try it out later this afternoon or evening when I get some free time 👍

[2021-01-02 02:33] amoldeshpande commented on #305
There also seem to be a couple of go libraries for git. Those might be better options than spawning processes. e.g., https://github.com/go-git/go-git/

[2021-01-02 03:10] TylerLeonhardt commented on #305
+1 to this. Here's a video of before and after (uploading as a zip because GitHub said I had to):

[vid.zip](https://github.com/JanDeDobbeleer/oh-my-posh3/files/5759713/vid.zip)

I don't expect it to be as fast as the before... but certainly not as slow as it is unfortunately.

[2021-01-02 06:29] amoldeshpande commented on #305
I played around with go-git a little. For a simple case of trying to open a repo where it does not exist it takes 24ms instead of  80+.

I couldn't figure out how to get intellisense working in Sublime Text so that I could understand the module better, so I was not able to replace the other functionality (detecting status, branch, etc.)

In any case, I think it looks like a promising avenue to inv

[2021-01-02 07:21] JanDeDobbeleer commented on #305
I tried go-git before, there was a huge delay when running the status command at the time. Maybe that has been resolved, I even still have the branch with those changes.

Did you try the latest version? We did some improvements in term of performance, curious to see if that resolves anything.

@amoldeshpande I also have a working implementation of a rust library for doing the command calls, which

[2021-01-02 08:09] JanDeDobbeleer commented on #306
This does not happen in zsh on macos. So we're looking at a Windows specific issue here.

[2021-01-02 09:24] lnu commented on #305
We already went from +-350ms to 200ms for the git segment rendering(on windows). In wsl2 it takes 10ms at most.
Clearly, if we could get the same performance on windows as on linux, that would be fantastic.

[2021-01-02 10:42] JanDeDobbeleer commented on #306
@amoldeshpande can you validate if adding the following property on the`path` segment resolves the issue for now?

[code]

You can swap `base` with whatever suits you obviously.

[2021-01-02 13:13] JanDeDobbeleer commented on #305
@amoldeshpande I did a quick restore of the changes I did for go-git, the slow status is still present so that's a no go (it's a few seconds, not even ms). On top of that, it can't handle folders inside a repo, it always reports as not in a repo which isn't what I expect.

That said, here's a version of oh-my-posh that has an experimental lib to do cmd executions, I'm looking forward to feedback o

[2021-01-02 14:11] royvou commented on #305
This is an interesting issue, performance for executing all "Language segments" is also not optimal (Takes ~100MS per segment when it is "in context".
The latest release has improved it a lot (Mainly for git, but also for the .NET language segment, less for the other segments)

@JanDeDobbeleer i tried your experimental build, but i could not get it to work.

When i download the .zip and extract it

[2021-01-02 14:12] tradiff commented on #305
Same error as royvou here
![image](https://user-images.githubusercontent.com/934490/103459092-dd4ed280-4cc9-11eb-9e98-6a3a081ec504.png)

[2021-01-02 14:14] JanDeDobbeleer commented on #305
@royvou aha. That's interesting as I assumed the binary would have packed it. I'll upload a new zip with that included 👍🏻

[2021-01-02 14:15] royvou commented on #305
As the binary increased from ~10MB to ~17MB i would have assumed as well! But looks like it hasn't :(

[2021-01-02 14:25] lnu commented on #305
Don’t forget that the segments processing is done in //. So the prompt is always as slow as the slowest segment(more or less).

[2021-01-02 14:49] JanDeDobbeleer commented on #305
@royvou @TravisTX I updated the original comment with a new zip file. Now tbh, if I can't pack these dependencies into the exe, I'm not inclined to go down this path.

[2021-01-02 15:01] tradiff commented on #305
1 is from main
2 is your experimental build
![image](https://user-images.githubusercontent.com/934490/103460070-a334ff00-4cd0-11eb-8d8c-c614a017b0a3.png)

[2021-01-02 15:11] JanDeDobbeleer commented on #305
@TravisTX that's not enough to say we're about to have a party. Confirms what I'm seeing. Better, but not by major margins.

[2021-01-02 15:30] amoldeshpande commented on #306
I tried this
[code]
Did not help.  I even tried putting the mapped_location inside properties in case that's what you meant.

 As far as OS goes, since no other  OS will  use ```"\"```, it makes sense I  only see the crash on Windows.

Regardless, generating ```"\"```  without escaping it would be problematic for any segment in any unix shell. maybe it's better to avoid it as a principle ?

[2021-01-02 15:32] royvou commented on #305
I think you only need the .DLL in the zip if you were to distribute it.

A check with the --debug parameter does not show significant improvements, am i doing something wrong (As multiple people are mentioning it should be a lot faster?)?

(Screenshoht is from the PowerToys Repo, Oh-my-posh3 repo takes about ~120-140MS)

Experimental
VS
Latest
![image](https://user-images.githubusercontent.com/168

[2021-01-02 15:37] JanDeDobbeleer commented on #306
@amoldeshpande you need to add it ro properties and create a double array:

[code]

[2021-01-02 15:38] amoldeshpande commented on #305
ok, so I won't try the experimental build since others have already reported back.

It's disappointing to hear about go-git as well :(

Doesn't go have C interop ? maybe a wrapper around just the git commands we need ?  using the C libgit.

[2021-01-02 15:39] amoldeshpande commented on #306
tried pasting that, still crashes :(

[2021-01-02 15:43] JanDeDobbeleer commented on #306
@amoldeshpande ok, I'll try to reproduce this so I can create a proper fix.

[2021-01-02 15:52] JanDeDobbeleer commented on #305
I have a proposal. I just forked go and removed the timeout that's present on Windows. It's stated that removing it does work, meaning we can give it a "go" and see what the effect is of oh-my-posh built with that fork. Managing that should be doable if it provides to be a major improvement without side effects.

[2021-01-02 15:59] JanDeDobbeleer commented on #305
Very, very fast in between everything. I could have made some mistakes here 😓
[posh-windows-amd64-experimental.exe.zip](https://github.com/JanDeDobbeleer/oh-my-posh3/files/5760472/posh-windows-amd64-experimental.exe.zip)

[2021-01-02 16:05] amoldeshpande commented on #305
It's a LOT better ! Overall still a bit slower than Linux, but maybe parallelizing git commands will help with that ?

[2021-01-02 16:06] JanDeDobbeleer commented on #305
Depends, most information is fetched by context, so not all are needed. But worthwhile to investigate! Can you tell me what the timing are now? I get 100ms on my machine which previously has 180ms. Looking at @TravisTX's machine that one's a bit faster than most...

[2021-01-02 16:07] royvou commented on #305
Sounds like a great idea Jan 👍

I'm wondering if the change to a remote exe also has (some) effect on performance? Since now the exe is created/destroyed after each command is created. I assume this would prevent some forms of caching as well?

[2021-01-02 16:08] amoldeshpande commented on #305
I got about 40ms with my tests above.  So that I don't sound ungrateful, this version by itself makes it eminently usable for me now.  Anything else on top of that is just gravy.

[2021-01-02 16:09] lnu commented on #305
Now we have to wonder if the margin is enough to maintain an own fork of go?

[2021-01-02 16:12] JanDeDobbeleer commented on #305
I like to go for gravy. But 40ms is blazing fast compared to where we came from. If more people can confirm this, I'll do the necessary changes to ensure we can build with that fork on Windows.

[2021-01-02 16:12] lnu commented on #305
With --debug each segment is processed one by one. But you can assume the most expensive segment will be the bottleneck when processed in //.

[2021-01-02 16:17] amoldeshpande commented on #306
let me know if you need a tcsh built for windows to reproduce it.   I was also thinking a config property to say "convert all \\ to / in paths"  might be one way to avoid conflicts with other shells.

[2021-01-02 16:18] lnu commented on #305
Am i missing something:
![image](https://user-images.githubusercontent.com/1829553/103461387-714a8980-4d1e-11eb-94b0-f8bb92f09748.png)

[2021-01-02 16:21] amoldeshpande commented on #305
[code]
I haven't set my powershell up to render unicode correctly, but the segment timings seem in line with what I'm seeing.

Edit:  as an aside, it's interesting that it thinks my desktop has a battery  :) No need to derail the issue though.

Edit2: With powershell so I'm running the same command
[code]

[2021-01-02 16:35] royvou commented on #305
So far i can't say its any faster.

![image](https://user-images.githubusercontent.com/16852398/103461603-e8345200-4d1f-11eb-90e1-4d74ec9cc958.png)

[2021-01-02 16:44] lnu commented on #305
You should use `--shell universal` or `--shell pwsh`

[2021-01-02 16:49] amoldeshpande commented on #305
hmm, measure-command in powershell shows significantly higher times for the same commands. Maybe there is an additional startup time factor ?

It's definitely 1/2 the time as measured by powershell and I can feel the difference interactively.

[2021-01-02 16:56] amoldeshpande commented on #305
Can't get screenshots to paste
[code]
So the times measured by posh are almost the same for both versions.

[2021-01-02 17:07] royvou commented on #305
If i'm correct changing to a custom Go build, should remove the  5 MS delay when it's cleaning up the processes, when you are not inside a git repo this should be once (The check "Is in git repo").

I replaced the original exe in my modules, and yes, this does remove that 5 MS delay.

[code]
When running it in the PowerToys Repo, it is within margin of error (and more dependant on the git performa

[2021-01-02 17:35] JanDeDobbeleer commented on #306
I believe a "unix in windows" switch could do the trick. As that's the context, no?

[2021-01-02 17:53] amoldeshpande commented on #306
in theory yes, but it might be too broad a designation. Also, I don't regularly use cygwin -based shells so I am not sure how they'd like this to be handled.  Which would be another reason for a narrowly-focused toggle.

[2021-01-02 18:07] amoldeshpande commented on #305
ugh, ok I'm so dumb.  I was running the powershell measurements in a shell that did not have git in the path.  (Sidebar: maybe --debug should print if git was not found)

With git in the path, the measurements for both versions are almost identical at ~170ms.

I am still hallucinating that it feels faster in the new version though.

Edit: With Measure-command there is definitely a 40ms difference

[2021-01-02 18:55] amoldeshpande commented on #305
Here is output with measure-command and --debug. It's interesting to see the 60-70ms overhead
[code]

[2021-01-02 19:20] JanDeDobbeleer commented on #305
@amoldeshpande that "old" version of OMP is also a bit outdated looking at the debug output. You might want to update that one to get a more up-to-date pov.

[2021-01-02 19:37] amoldeshpande commented on #305
done. no idea where I picked up the old version since I only started using posh about a week ago :-)  Anyway, no change in timings probably as expected.

[2021-01-02 19:38] lnu commented on #305
How did you install omp? scoop? pwsh?

[2021-01-02 19:41] amoldeshpande commented on #305
Nope. just downloaded with webrequest from powershell.  I have a  fairly strong recollection of using 'releases/latest/download/...',    but I could be wrong.

[2021-01-02 20:00] JanDeDobbeleer commented on #305
I just realized I also need to revert back to `exec.Command("command").Output()` rather than the override to avoid calling `process.Wait()`. Ill try to do that and compile with the fork. See if that makes a difference.

[2021-01-02 22:50] tradiff commented on #306
That's pretty much what `folder_separator_icon` does. In the latest builds, OMP3 will replace the OS path separator with whatever you specify in `folder_separator_icon`. Be that `/` or any other string.  If you haven't tried it out, maybe give that a shot.  [Usage is documented here](https://ohmyposh.dev/docs/path)

Btw I tried to repro this by downloading the latest release of tcsh [here](https:/

[2021-01-02 22:55] amoldeshpande commented on #306
hmm I will give folder_separator_icon a try.  Meanwhile, unfortunately you have to build out of my unicode branch. I don't make releases yet for this support. I've put a compiled version here https://1drv.ms/u/s!AopJdbqzqHFho-RL1fDYFyDcfJkpqQ?e=nP1u7R  if your browser will let you download an exe.

gist here https://gist.github.com/amoldeshpande/8b95c58b94fe2278b65ba10e44e5a27e  describes how to s

[2021-01-02 23:33] amoldeshpande commented on #306
I put
[code]
But the prompt is still setting a ```\```
[code]

[2021-01-02 23:53] tradiff commented on #306
Oh, I see "folder" is the one style that doesn't use `folder_separator_icon`

[2021-01-03 00:02] amoldeshpande commented on #306
nvm. agnoster_full works.  I must've mistyped something.

[2021-01-03 05:17] meson800 commented on #309
For me the issue doesn't seem limited to the `ssh_icon`, it seems like any Powerline unicode does it. Using a pretty close to stock git segment will also cause weird wrapping:
[code]
![image](https://user-images.githubusercontent.com/1854223/103472215-f18de080-4d58-11eb-97e7-ce22749eb88e.png)

Tomorrow I can try different fonts; I'm just running Fira Code right now (getting the NerdFont version of

[2021-01-03 05:27] meson800 commented on #309
I found it; I was juggling too many `.bashrc`'rs around and hadn't updated LC_ALL to support UTF-8, even though LC_LANG was set . Not a bug in oh-my-posh.

Thanks so much for making this! It's made it way easier to unify my prompts across the various OS's I bounce between :)

[2021-01-03 07:36] JanDeDobbeleer commented on #306
@TravisTX Let's add it there as well. That way it's aligned even though the only use-case is the root path.

[2021-01-03 11:46] JanDeDobbeleer commented on #305
This build is with everything originally, but compiled with a [go fork](https://github.com/JanDeDobbeleer/go/commit/653a1798b4c7423cf513c2f1236534bdacda76fd).
[posh-windows-amd64-experimental.exe.zip](https://github.com/JanDeDobbeleer/oh-my-posh3/files/5761539/posh-windows-amd64-experimental.exe.zip)

[2021-01-03 15:49] amoldeshpande commented on #305
[code]
Seems about the same as the last version.

[2021-01-03 16:16] JanDeDobbeleer commented on #305
Yup. That's what I have as well. That does imply we can shave off a couple of MS but not a lot. Command execution is simply slower on Windows. That said, below 300ms to render a prompt is still smooth.

[2021-01-03 18:24] TylerLeonhardt commented on #305
Spinning up processes is simply more expensive on Windows... I heard this is why .NET Framework introduced App Domains ages ago... Most of the benefits of process isolation, without expensive bit of being a separate process.

[2021-01-03 18:37] amoldeshpande commented on #305
@JanDeDobbeleer  have you considered what I said about parallelizing git commands ? I don't see the harm in executing all the git commands in parallel and then parsing the output based on conditional "git status" states as usual.

[2021-01-03 18:48] lnu commented on #305
@amoldeshpande  It's not so easy. A couple of commands can be executed in // but others depend on the context.
At least we can give it a try.

[2021-01-03 19:00] JanDeDobbeleer commented on #305
@amoldeshpande I'm going to give that a try next week. See where that brings us.

@TylerLeonhardt thanks for that context, I'm off Windows for a while now so there's a lot I'm missing.

[2021-01-03 23:07] royvou commented on #305
Would it also be an idea, where appropriate, to replace an Cmd execution, with a small go function? I would expect this to be faster on both Windows & Linux.

For example, I think the check 'is in git folder' could be replaced with a simple check if there is a .Git folder in the current dir or any parent dir. Might be possible to replace some other cmd executions with some go code.

I think the az

[2021-01-03 23:15] shedric1 commented on #305
As royvou mentions, another approach is removing as many external command calls as possible. Same principle as using the `go-git` package, but with a simple manual implementation.

For example, the first git call is in the segment enable check, and only checks if the current working directory is inside a working tree. Replicating the same behavior using system calls through the `os` package should

[2021-01-04 00:09] royvou commented on #305
This sounds great! 2x ~40ms would be a huge bonus. And would get us closer to under the 100ms.

I also did a little expiriment with go git, and as Jan already mentioned the git status equivalent, is slow with big repositories with a lot of excluded files.

Parrelize the other few git commands (or check if some could be merged) would be a huge bonus.

For the Linux check I did (on my own branch) it

[2021-01-04 02:31] shedric1 commented on #305
These 3 seemed like the simplest candidates for native Go refactoring in the git segment:

* Remove external call by natively searching for git repo.
* Remove external call by saving repo root during enable check.
* Remove external call by count the lines in `{ROOT_REPO}/.git/logs/refs/stash` (if it exists)

I pushed a new proof-of-concept branch trying these changes here: https://github.com/shedr

[2021-01-04 02:51] amoldeshpande commented on #305
so, unfortunately, not seeing much improvement with this change either
[code]
Edit: added output from the right branch, I think. some improvement.

Edit2: git status measurement for context
[code]

[2021-01-04 08:02] lnu commented on #305
While reducing the number calls, we can add parameters to add/remove informations from the git prompt(like it is done in starship).  So people who only wants a subset of the info will have better performance and those who are willing to pay the price will get everything.

[2021-01-04 08:35] lnu commented on #305
while digging in starship I found they use this library https://github.com/libgit2/libgit2(https://libgit2.org/) which has a go version(https://github.com/libgit2/git2go).
This will introduce more complexity but external call will be avoided and all git actions done using c.
https://github.com/lnu/oh-my-posh3/tree/feature/git2go

[2021-01-04 15:27] amoldeshpande commented on #305
I will say that the test with UnrealEngine is unfair.  "git status" by itself  takes more than a second in that directory.  But it does bring up questions about how far you can really take the performance.

[2021-01-04 17:21] royvou commented on #305
I think we should, for the first part, go with @shedric1's branch which reduces the amount of unneeded git calls.

For performance, we should always include a git status alongside it, we can't beat that performance without some magic. (and git status is slower when there are submodules in the git repo).

Libgit2 might be an option, do we know how the git status command compares to git2s status? Al

[2021-01-04 17:30] amoldeshpande commented on #305
Sounds reasonable to me. I added "git status" measurements to my comment about @shedric1's change.

My ideal goal would take into account the fact that a simple external command takes ~30-40ms  on Windows.  We should not take much more than that for most commands.

Someone up there made a suggestion of picking specific git  states to print in the prompt. That would be perfect because the main thin

[2021-01-04 17:42] JanDeDobbeleer commented on #315
@ormico you can use `oh-my-posh --debug --shell pwsh --config ~/.poshthemes/jandedobbeleer-zack.omp.json` to see which segment is causing trouble. Be aware we're having a big performance issue at #305 as well.

[2021-01-04 17:47] royvou commented on #305
@lnu after checking the starship repo, please note they are removing libgit with calls to the native git executable for 1.0. So I don't think we should consider libgit at the current moment.

[2021-01-04 17:54] ormico commented on #315
I ran this, but I have to say the module list it shows data for does not seem to match what is in my config file. I did move the config file as part of debugging to the path you see in this screenshot but it doesn't seem to matter if I use old or new path.

In the screenshot it seems to still be running git segment and a bunch of others I removed. I tried adding the kubectl one and can see in in t

[2021-01-04 17:55] JanDeDobbeleer commented on #305
Well, this thread just keeps growing :-)

@shedric1 I was looking at the same thing this morning, also found out the stash count is being done AT ALL TIMES which is a huge mistake on my part. I agree with swapping out the calls as much as we can, I do believe your changes are a candidate for this. How would you like to proceed? Do you want to give this a go, or do you want me to assist in merging

[2021-01-04 18:09] ormico commented on #315
`~./` wasn't working for `--config`. if I try an absolute path it gives a correct debug list.

![image](https://user-images.githubusercontent.com/1731364/103565269-0c15a600-4e8e-11eb-8dcb-e668e0b47914.png)

[2021-01-04 18:12] ormico commented on #315
changed profile to use `Invoke-Expression (oh-my-posh --init --shell pwsh --config C:\Users\zack.moore\.zack.omp.json);` but still slow. Just to test.

[2021-01-04 18:29] shedric1 commented on #305
@JanDeDobbeleer I won't have a chance to look into a proper version with updated tests and organization for a while, so anyone is welcome to get the ball rolling on it using that branch! I just whipped those up as a proof of concept to see if it worked and offered meaningful performance improvements, but I'm new to Go so a well formatted version might take me a lot longer than someone more familia

[2021-01-04 18:32] JanDeDobbeleer commented on #305
I'll pick up the task. I can do this during lunchtime, I'll try to provide intermediate builds here for validation.

[2021-01-04 18:41] JanDeDobbeleer commented on #315
The git segment worries me, but we're fixing that this week hopefully. I'd say something else is messing with the timings here. Can you try by just adding the prompt function from the [init script](https://github.com/JanDeDobbeleer/oh-my-posh3/blob/main/src/init/omp.ps1) to your profile, rather than invoking it? There might be something in there that's taking a lot of time.

[2021-01-04 19:09] ormico commented on #315
lets see if I did this correctly. I made my profile look just like the code at the link you referenced and it executed instantly.
Prompt now looks like `PS>`

[2021-01-04 19:15] ormico commented on #315
executing this takes a while `PS>Invoke-Expression (@(&"C:\bin\oh-my-posh.exe" --print-init --shell pwsh --config C:\Users\zack.moore\.zack.omp.json) -join "`n")`

[2021-01-04 19:16] ormico commented on #315
this executes quickly and prints the same powershell `oh-my-posh --print-init --shell pwsh --config C:\Users\zack.moore\.zack.omp.json`

[2021-01-04 19:24] ormico commented on #315
I tried breaking the steps down but couldn't find a smoking gun.
Apologies for the log dump but maybe you will see something I should try

[code]

[2021-01-04 19:30] JanDeDobbeleer commented on #315
I'll give you a sample you can use in the morning. Just to make sure I don't mess things up.

[2021-01-04 21:33] amoldeshpande commented on #305
Another interesting datapoint. I use SourceTree and its embedded git version. Turns out it defaults to a really old one and you have to manually make it update.  I went from git 2.11 to 2.20 when I forced the upgrade.

anyway, to get to the point,  git status in my UnrealEngine repo is ~900 ms in 2.20 (so a good 300ms faster), and as a result  posh comes in around 1.2 seconds instead of 1.5+

Just

[2021-01-05 03:50] gibwar commented on #305
I'm excited to see the progress in making the git segment faster (it's 81ms on my home computer, I'll update my work machine tomorrow with 3.86.3) but there is one thing I want to caution: finding git entries manually can be problematic if you're only looking for a `.git` _folder_.

I use [git's worktrees](https://git-scm.com/docs/git-worktree) pretty extensively and they only have a `.git` _file_

[2021-01-05 04:20] shedric1 commented on #305
@gibwar Excellent point about worktrees, I'm not sure how the current proof of concept will work with those. As is, it's using the `Stat` function from the `os` package which should return true if a matching directory _or_ file is found, if I'm reading it correctly. If I'm understanding how worktrees work, this may cause the repo root it finds to be totally wrong.

Should be an easy enough fix tho

[2021-01-05 04:49] amoldeshpande commented on #305
I put some timing around spawned command execution and came up with this:
[code]
I think it shows what we already knew, that `status` is the slowest command.  Figured it would helpful to have concrete numbers anyway.

Editing to add more timing investigation results:

If I change the status command to `-uno` instead of `-unormal`, that cuts the time down to 280-300-ish ms.
[code]
This command skip

[2021-01-05 05:44] lnu commented on #317
On Windows that's expected. We retrieve the information from the window title and paused/stopped is the same(no title).
On macOS it's handle differently(AppleScript) and you get the track title when paused.
On linux it's not yet done, we'll probably do it using dbus(one day maybe).

[2021-01-05 13:16] eddex opened #341 "global .gitconfig not found after switching theme"
OS: Windows 10

After installing oh-my-posh like this: `Install-Module oh-my-posh -Scope CurrentUser` everything worked fine.

But as soon as I changed the theme (tested with robbyrussell and Material), the global .gitconfig is not found anymore.

[code]

For some reason git starts looking for the global config in Z:\\ (I don't have a Z: drive)

[2021-01-05 19:53] JanDeDobbeleer commented on #305
If all goes well I'll have a working version tomorrow that uses paths to validate if we're in a git repo, including support for worktrees.

[2021-01-06 03:57] tradiff commented on #321
Maybe something like this:

![image](https://user-images.githubusercontent.com/934490/103727469-8fbbb980-4f98-11eb-8219-2a0627608b1f.png)

[code]

[2021-01-06 05:44] sql-sith commented on #321
Thank you, @TravisTX . I had forgotten about `rprompt` altogether, and it sounds like it may be meant for exactly what I'm trying to do.

However, I am having trouble reproducing your result. When I run your sample as-is I get this:

![image](https://user-images.githubusercontent.com/1082694/103732748-aa4c5d80-4fad-11eb-870f-bcf2fc21e919.png)

I've tried tweaking it, but this combination of things

[2021-01-06 06:13] JanDeDobbeleer commented on #321
@sql-sith it seems your version of oh-my-posh is rather old. Updating should do the trick as I don't think your version has `rprompt` support just yet.

[2021-01-06 06:26] JanDeDobbeleer commented on #322
That's a Windows terminal issue. The arrow is transparent but Windows Terminals for some reason adds black rather than the bg image. Can you log the issue there?

[2021-01-06 06:31] sql-sith commented on #321
@JanDeDobbeleer you are correct. I checked for newer versions tonight but obviously messed it up.

By the way, this is one of the most useful and comprehensive updates to a popular open-source project that I've seen for a while. Great job to all.

[2021-01-06 06:36] JanDeDobbeleer commented on #298
@patriksvensson did you find a moment yet to validate this?

[2021-01-06 06:50] JanDeDobbeleer commented on #322
@Fubuchi there might be some more information [here](https://github.com/microsoft/terminal/issues/1414) (and a way to turn it on). If that's not the issue, then it's going to be [this one](https://github.com/microsoft/terminal/issues/7014).

[2021-01-06 07:18] patriksvensson commented on #298
@JanDeDobbeleer Sorry! Been a bit busy. Checking it out now!

[2021-01-06 07:30] eddex commented on #341
I fixed the issue by using the V3 (prerelease) version of oh-my-posh.

When I tried to install it I initially got the following error: `Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease'.`

This can be fixed by updating `PowershellGet`: https://evotec.xyz/install-module-a-parameter-cannot-be-found-that-matches-parameter-name-allowprerelease/

Then I was able

[2021-01-06 07:30] #341 closed

[2021-01-06 07:48] patriksvensson commented on #298
@JanDeDobbeleer Seems to work fine!

![image](https://user-images.githubusercontent.com/357872/103742965-df7f9c80-4ffb-11eb-85d8-251765d1a765.png)

[2021-01-06 07:48] JanDeDobbeleer commented on #298
I'll add that to the build output this week 👌🏻

[2021-01-06 08:03] JanDeDobbeleer commented on #305
As promised a build based on the changes made with @shedric1 's proposal. There are two executables in the zip, fork is build with the go fork that removes the wait in process. In my preliminary tests, this already has some benefits (don't mind the font not being set correctly).

[Archive.zip](https://github.com/JanDeDobbeleer/oh-my-posh3/files/5774531/Archive.zip)

<img width="1341" alt="image" s

[2021-01-06 08:24] patriksvensson commented on #298
@JanDeDobbeleer Awesome! Looking forward to updating my profile scripts 😀

[2021-01-06 11:06] JanDeDobbeleer commented on #323
That's an option. I'm also adding x86 for Windows to the abilities so I can look at this at the same time.

[2021-01-06 11:44] royvou commented on #305
Not inside GIT repo
![image](https://user-images.githubusercontent.com/16852398/103750291-e069fb80-5006-11eb-83f1-0ffd2952274f.png)
Inside git Repo
![image](https://user-images.githubusercontent.com/16852398/103750317-e95acd00-5006-11eb-8fa0-6f00549d4b83.png)
Git status takes ~256MS

Looks like an nice improvement! Seems to be an overhead of 20MS + the time it longest time it takes for 1 segment.

[2021-01-06 12:16] JanDeDobbeleer commented on #305
Keeping the fork synced isn't going to be the challenge so I'm definitely in favor of keeping that. Cool that we're now seeing actual differences, that's clear progress!

[2021-01-06 12:29] tradiff commented on #305
Here' the relevant parts from my timings. Nice work!

[code]

[2021-01-06 13:24] DennisGaida commented on #323
FYI: I'm running oh-my-posh with config and everything on a raspberrypi (ARM). It works 👍

I found one issue with terminal multiplexer (tmux) and `alignment:right` which destroys window borders. Can be seen in the honukai theme. I'll open a separate issue for this.

[2021-01-06 13:55] amoldeshpande commented on #305
not seeing much difference between fork and non-fork, but there's a 40ms improvement between the  released version.
I had to run each version a few times to get somewhat stable measurements to account for the OS fs cache.

[code]

[2021-01-07 11:46] JanDeDobbeleer commented on #325
I noticed that too and it annoys the crap out of me.

[2021-01-07 12:11] daddycocoaman commented on #325
Sorry...I forgot to add my solution.

You should use `Get-Module` instead. Get-Module returns an object or it doesn't, so there's no suggestions being made.

[code]

This command will return True if Get-GitStatus exists, It will return False if it doesn't exist but Posh-Git is installed (I don't use posh-git so dunno if this is possible).  If `posh-git` doesn't exist at all, there's no output.

[2021-01-07 12:18] JanDeDobbeleer commented on #325
@daddycocoaman 👍🏻 , in the meantime I was on the same path :-) See the [commit](https://github.com/JanDeDobbeleer/oh-my-posh3/commit/0c240689dc4bd06195775b0f11f8528133298829) linked. There's no output when I do things this way.

[2021-01-07 12:23] daddycocoaman commented on #325
Dope. Thanks for dope tool!

[2021-01-07 12:50] daddycocoaman commented on #239
I was about to open an issue for this since I came across the same scenario this morning but glad I caught this thread.

I agree with @rsb177 that just checking for VIRTUAL_ENV is the way to go, since virtualenvs like the ones for Poetry don't necessarily have to be in the same folder as the current directory.

I don't use conda so I can't speak on it to much but @meakbiyik made some good points,

[2021-01-07 14:03] JanDeDobbeleer commented on #239
@daddycocoaman always on is available now. This one's next on the list as soon as I get the git improvements out of the door. Not forgotten though.

[2021-01-08 18:45] JanDeDobbeleer commented on #329
@wyldspyder how did you import oh-my-posh into your `$PROFILE`? Are you using the module or a manual installation?
Also, I'm trying to execute the command in your example, but that doesn't seem to work (also doesn't map with the documentation):

[code]

I think you mean `New-PSDrive`, so I'm going to debug using that one for now.

[2021-01-08 19:02] JanDeDobbeleer commented on #329
Tested with PowerShell 7.2 using `New-PSDrive -Name PSdir -PSProvider "FileSystem" -Root "~\Documents"`. I can confirm this is by design. Under the hood we're using `$PWD.ProviderPath`. I can check if we want to distinct between visualising and actual location, but there were issues when running in the registry for example. I'll do a quick check.

[2021-01-08 19:18] JanDeDobbeleer commented on #305
I'm testing all the different cases, so far so good. I'll already publish this part.

[2021-01-09 12:46] JanDeDobbeleer commented on #298
@patriksvensson took me a few tries, but it should be there. Can you validate the binary in release [3.69.0](https://github.com/JanDeDobbeleer/oh-my-posh3/releases/tag/v3.69.0)?

[2021-01-09 12:47] JanDeDobbeleer commented on #323
@DennisGaida  took me a few tries, but it should be there, at least the arm64 one (we can also add 32 of needed). Can you validate the binary in release [3.69.0](https://github.com/JanDeDobbeleer/oh-my-posh3/releases/tag/v3.69.0)?

[2021-01-09 13:05] JanDeDobbeleer commented on #329
TL;DR, we can't use the current PWD flag as that needs to contain the ACTUAL path on the filesystem rather than a PS only PSDrive, else a lot of context can't be retrieved. But, I introduced a new flag specifically for this use case which is only used within the Powershell init script and module, that way we can separate the visual aspect from the functional one meaning any PSDrive will work from

[2021-01-09 18:09] boarder2 commented on #220
Encoding works, might be worth updating the doc on the website with it! https://ohmyposh.dev/docs/upgrading

[2021-01-09 19:18] JanDeDobbeleer commented on #220
@boarder2 fair point, we do accept contributions 😉

[2021-01-09 20:36] JanDeDobbeleer commented on #315
@ormico I can't find a root cause as I can't reproduce it on my end. However, the git segment did a timeout there for about 6 seconds which could be the origin of the issue. Can you check if the latest version still has this issue? We did quite te rework already to get the timings on Windows under control. As an alternative means of troubleshooting, you could also use the [module](https://www.powe

[2021-01-09 20:38] JanDeDobbeleer commented on #220
@boarder2 🙏🏻

[2021-01-10 10:57] lnu commented on #333
<img width="1647" alt="Screenshot 2021-01-10 at 11 56 27" src="https://user-images.githubusercontent.com/1829553/104120931-f47d6800-533a-11eb-9e7d-3759fc1fc51a.png">

[2021-01-10 11:51] DennisGaida commented on #323
Can't test the arm64 version since my raspberrypi needs the arm version (and I tried myself with `GOARCH=arm` which works):

[code]

[2021-01-10 12:07] JanDeDobbeleer commented on #323
@DennisGaida I'll adjust towards that `GOARCH` 👍🏻

[2021-01-10 12:36] JanDeDobbeleer commented on #323
@DennisGaida available under [v3.69.2 ](https://github.com/JanDeDobbeleer/oh-my-posh3/releases/tag/v3.69.2)

[2021-01-10 13:50] DennisGaida commented on #323
Works!

[code]

[2021-01-11 14:46] wyldspyder commented on #329
Hi JanDeDobbeleer, thanks fo rthe follow up, it is really appreciated !!

My importation of module automated, I will not show you everything but here the basic concept:
[code]
Also, for importing all my 'drive', I use a similar concept :

[code]

I d'ont think it is causing problem but I,ve just remarked that my PSh is at v7.1.0, I'll try with 7.2 just to be sure

[2021-01-11 19:47] JanDeDobbeleer commented on #335
@kt81 I just did a quick debug and the env var segment works as designed, any change to that environment variable is reflected in the prompt (at least when set manually).

<img width="554" alt="image" src="https://user-images.githubusercontent.com/2492783/104227084-1fee7880-5449-11eb-99fb-e8b1892bc1f9.png">

The segment I used was based on yours, I believe you forgot to add the final enclosing bra

[2021-01-11 20:08] JanDeDobbeleer commented on #329
@wyldspyder the latest version should behave the way you want it. I extended the functionality to distinguish between visualization of the path (what do I show in the prompt) and functionality (where am I on the filesystem). Nothing wrong with your profile, any valid PSDrive should now also show as such in the latest version of oh-my-posh.

[2021-01-11 20:53] #340 closed

[2021-01-11 20:53] #339 closed

[2021-01-12 05:08] kt81 commented on #335
@JanDeDobbeleer
Thank you for your reply and great example.
The example seems little hacky but very helpful.
I'll try find good feeling way base on it.

Oh, it seems copy-and-paste miss, sorry.

[2021-01-12 06:26] JanDeDobbeleer commented on #335
Well, all CLI tooling feels that way at times 😅

[2021-01-12 12:51] kt81 commented on #335
Oh sorry, I didn't know much about it. 😭

[2021-01-12 18:03] JanDeDobbeleer commented on #305
@TravisTX @lnu @amoldeshpande @royvou @shedric1 @gibwar looking at the latest release, how do we feel about the speed? Improved enough to consider this solved, or do we need follow-up actions to go for the extra smile?

[2021-01-12 20:36] tradiff commented on #305
It's good for me (but it's always been pretty good on my computer). I'm at about 63ms in a git repo, and 7ms outside of one.  Which is a notable improvement!

[2021-01-13 00:23] amoldeshpande commented on #305
Latest release is perceptibly faster than the old one, so I'm fine with calling it good. It's about 100-120ms in a repo like posh3 for me.

thanks !

[2021-01-13 12:32] JanDeDobbeleer commented on #201
@SirJson this is confirmed as an issue in Windows Terminal and font icons spacing. It's on their backlog.

[2021-01-14 23:51] JTF195 opened #344 "Request: "user_info_separator_color" override"
Small request:

Currently, the only way to change the color of  `user_info_separator` is to set `foreground` to the desired color and then override `user_color` and `host_color` back to "normal"

Could we get a `"user_info_separator_color"` property?

[2021-01-15 18:33] JanDeDobbeleer commented on #239
The next release has a new `display_mode` when it comes to the Python segment. `context` will display the segment when there are files or a virtualenv present. `environment` will only display when there's a virtual env, regardless of the files in the current folder. `files` wil only show the segment when files are found in the current folder.

[2021-01-16 16:12] yugawara commented on #129
I found a solution (at least this removed the bug for me :-) )-
Put the set-theme line inside this function, in $PROFILE.
[code]

[2021-01-16 16:53] JanDeDobbeleer commented on #129
@yugawara that makes no sense at all. `Set-Theme` also calls the prompt function...

[2021-01-16 20:52] ormico commented on #315
I'll check this again today

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: stale[bot] <notifications@github.com>
Sent: Saturday, January 16, 2021 3:46:46 PM
To: JanDeDobbeleer/oh-my-posh3 <oh-my-posh3@noreply.github.com>
Cc: Zack Moore <zack@zackmoore.xyz>; Mention <mention@noreply.github.com>
Subject: Re: [JanDeDobbeleer/oh-my-posh3] Extreme slowness in Powersh

[2021-01-16 22:10] yugawara commented on #129
@JanDeDobbeleer
I noticed that this problem did not happen if I set-theme manually after the Cmder Poweshell started, so I was looking for a way to delay Set-Theme as long as possible.   So I thought, how about putting it inside the prompt function?   Anyway, I went to sleep as soon as I found this so I will check again today that this indeed worked 😄

[2021-01-16 23:43] yugawara commented on #129
Yes, I rebooted my computer just now and it still works.

When Cmder starts (my default is set to Powershell), the first prompt is
'''
PS>
'''
But all the subsequent prompts will be the pretty prompt as set by the theme 😄

[2021-01-17 07:25] JanDeDobbeleer commented on #129
@yugawara do you have the same issue on V3?

[2021-01-17 08:15] yugawara commented on #129
Hi,
Sorry, I have not tried V3 yet ( I tried to install it but either I couldn't' figure out how to do it or ran out of time😅)

[2021-01-17 19:41] Kudostoy0u commented on #305
![image](https://user-images.githubusercontent.com/69732000/104853880-5bfe5f00-58c9-11eb-8e4e-84739cfca286.png)
Decent performance increase from 1s to 500ms, but I'm not getting speeds increases everyone else is having :/.

[2021-01-17 20:29] JanDeDobbeleer commented on #305
@Kudostoy0u can you validate if there's an update of git for your system? That might also have an impact.

[2021-01-17 20:50] JanDeDobbeleer commented on #344
@JTF195 V3 has this by setting that separator and using color overrides. Have a look at https://ohmyposh.dev

[2021-01-17 20:59] Kudostoy0u commented on #305
Here are some versions of things I have:
![image](https://user-images.githubusercontent.com/69732000/104855387-1f833100-58d2-11eb-9806-a218c0887e67.png)
![image](https://user-images.githubusercontent.com/69732000/104855443-6f61f800-58d2-11eb-991e-ef3b24906756.png)
I updated git to 2.30 (should have done that earlier) but still no difference :(
![image](https://user-images.githubusercontent.com/697

[2021-01-18 00:34] amoldeshpande commented on #305
up in the thread I posted a comment with a few typical git commands that posh runs. measure those by commands themselves using the `Measure-Command` cmdlet.  posh no longer runs all of them, but it will give you an idea of how slow git by itself is in your repo.

Add another ~40-80ms for `go` spawning subprocesses on Windows and you'll find your lower bound.

For example, my Unreal Engine repo wen

[2021-01-18 02:20] Kudostoy0u commented on #305
BTW I have this function in my pwsh profile:
![image](https://user-images.githubusercontent.com/69732000/104865152-dbf3eb80-5900-11eb-9bf2-fc40365f55e9.png)

Hm... This is very erratic behavior. This is the result for an empty git repo, just a folder which I ran `git init`:
![image](https://user-images.githubusercontent.com/69732000/104865026-6be56580-5900-11eb-88de-d807cc9ff81e.png)
As soon as I

[2021-01-18 04:07] JTF195 commented on #344
My apologies. This feature request is for V3. I didn't realize it's hosted in a separate repo.

[2021-01-18 06:07] JanDeDobbeleer commented on #305
@Kudostoy0u is that the latest release or still one of the artifacts above?

[2021-01-18 10:18] JanDeDobbeleer commented on #298
@patriksvensson the releases contain an x86 build, I'm closing this issue ;-)

[2021-01-18 10:19] JanDeDobbeleer commented on #239
@daddycocoaman @meakbiyik @rsb177 can you have a look at the latest release/changes?

[2021-01-18 10:44] patriksvensson commented on #298
@JanDeDobbeleer Sorry! I forgot to answer your question. Yes, it's working as expected!

[2021-01-18 17:15] Kudostoy0u commented on #305
It is the experimental fork. I switched to using it since it does in fact induce quicker prompt response times when in a git repository. Here is my full PowerShell profile:
![image](https://user-images.githubusercontent.com/69732000/104945375-41d28880-597e-11eb-8c10-3142d6826d31.png)

[2021-01-18 19:21] JanDeDobbeleer commented on #305
@Kudostoy0u I would actually use the latest release as a lot of git calls were removed since then. It contains more optimizations than the fork right now.

[2021-01-18 21:21] daddycocoaman commented on #239
Confirmed the modes work as advertised. Thanks for your efforts!

[2021-01-19 08:17] bqstony commented on #142
if someone has the same problem... my solution to fix the font problem is descripted well in the video from scott: https://docs.microsoft.com/en-us/windows/terminal/tutorials/powerline-setup
I use now the fond `Cascadia Code PL`

[2021-01-19 13:52] rsb177 commented on #239
Looks good!  Thanks a ton!!

[2021-01-19 17:49] JanDeDobbeleer commented on #315
@ormico any update on your end?

[2021-01-19 18:24] #344 closed

[2021-01-19 18:24] JanDeDobbeleer commented on #182
Closing this due to archiving V2 before EOM.

[2021-01-19 18:24] #182 closed

[2021-01-23 10:45] theshubhagrwl opened #345 "Better Images for Conda Ens"
Hi, I use Conda and oh-my-posh.
I have seen that in some themes I can't see the conda env name but in the other, I can.
example:

Here I can clearly see the ENV name
![image](https://user-images.githubusercontent.com/37265683/105575970-a41ff480-5d95-11eb-837a-40a735f08d1f.png)

But here no name is visible
![image](https://user-images.githubusercontent.com/37265683/105575993-cd408500-5d95-11eb-8927

[2021-01-24 00:33] yugawara commented on #129
Another comment - it turns out that this bug appeared only with CMDER terminal.

This workaround is not necessary with the latest version of Windows Terminal Preview that I have just tried.

I was forced to use CMDER originally due to the corporate Windows 10 build version that I had no control over 😅

[2021-01-27 19:12] JanDeDobbeleer commented on #345
@theshubhagrwl V2 only accepts bugfixes, [V3](https://ohmyposh.dev/docs/upgrading) is out and supports basically whatever you want.

[2021-01-28 22:49] tillig commented on #333
Unclear if it's related here, but I am on OMP 3.80.0 and get this:

[code]

It appears to be related to running multiple commands concurrently in the background. New issue? Same issue?

My config:

<details>
<summary>Expand this to see my config!</summary>
[code]
</details>

[2021-01-29 07:41] lnu commented on #333
Strange because we put a lock around the write and multiple reader without lock is supported. Maybe the logic of the lock is wrong? I also had the same issues when testing all languages at once, but with the lock it disappeared.

[2021-01-29 09:47] JanDeDobbeleer commented on #333
@lnu I almost have a PR ready with a new atomic map. Needs validation on my end, will push asap.

[2021-01-29 14:45] lnu commented on #333
Do you think we need to lock on read and write?

[2021-01-29 17:21] JanDeDobbeleer commented on #333
@lnu yes we do. This is specifically on read it seems. PR incoming with a more powerful Map.

[2021-02-01 08:30] Ryokai96 opened #346 "Three lines of text are displayed when using the avit theme."
Why three lines are displayed?
<img width="143" alt="批注 2021-02-01 162140" src="https://user-images.githubusercontent.com/19326432/106432987-8136c400-64aa-11eb-9023-3df54832c2d7.png">
How can I not display the second line of text?

[2021-02-02 10:32] #345 closed

[2021-02-04 03:37] elsennov opened #347 "Unknown character 퀍 appear"
Hi team, I am using V3. Currently, if the command is error there is this character showing 퀍
I am using windows terminal and use MesloLGM Nerd Font Mono for the font. Do you have any idea why it happened? Thank you.

![image](https://user-images.githubusercontent.com/7565601/106841578-fd145480-66d4-11eb-9523-d4247d279c55.png)

[2021-02-09 13:05] saifali-ch opened #349 "OSC 9;9 sequence is not working."
### When I use oh-my-posh and posh-git module then:
- **The sequence doesn't work at all when duplicating tabs. The duplicate tab always opens in the default location.**

- **Further, this sequence is emitted at the wrong time. --like when piping commands**
![image](https://user-images.githubusercontent.com/54573967/107365206-4c57ec00-6afe-11eb-94a5-f7119a17321f.png)

- **If I comment below portio

[2021-02-09 18:37] iSeiryu commented on #70
Just upgraded from version 2.x to 3.83.0-beta and it gives me the same issue.

[2021-02-09 19:02] iSeiryu commented on #70
Since this pops up in Google search when looking for this issue here in an explanation:
`Set-Theme` is now `Set-PoshPrompt -Theme` - https://ohmyposh.dev/docs/upgrading/

[2021-02-14 07:21] JanDeDobbeleer commented on #349
I'm going to add this in V3, follow up on that [here](https://github.com/JanDeDobbeleer/oh-my-posh3/issues/409).

[2021-02-14 07:21] #349 closed

[2021-02-14 07:30] JanDeDobbeleer commented on #346
@Ryokai96 when using a standard theme, it's advised to move to [V3](https://ohmyposh.dev/docs/upgrading).

[2021-02-14 07:31] #346 closed

[2021-02-15 09:07] levirs565 commented on #55
This may be issue from ConHost. Alacritty use ConPty from Conhost. WezTerm and Windows Terminal is using ConPty from OpenConsol. I guess this issue is not happenned in WezTerm and Windows Terminal. You can see this issue on Alacritty https://github.com/alacritty/alacritty/issues/4794 .

[2021-02-22 23:01] painfulcranium commented on #218
I am actually seeing this now with Norton 360 Data Protector. Every time I go into a git repo, I get the following:

![image](https://user-images.githubusercontent.com/5238279/108781466-e7f24f00-7537-11eb-843d-30decb97e6ee.png)

I am assuming it is a false positive, and can easily add an exclusion, but wanted to raise awareness :)

BTW... killer improvement for Powershell...I come from a Linux bac

[2021-02-23 06:08] JanDeDobbeleer commented on #218
I already submitted the binary for review (at MS) to get an exclusion. It is a false positive, could be due to calling the win32 API. The entire source and pipeline is here on Github so you should be able to assess the validity of that report by auditing here.

[2021-03-06 16:56] silverqx commented on #315
I have upgraded to version 3 and have exactly the same problem with the `git` segment, one of my repository takes around 3 seconds on empty command, only enter pressed, another repository is fine ( but not as fast as the v2 ), I have to downgrade.
Just for the record, all other changes in the v3 version are great, I love it.

[2021-03-06 17:03] ormico commented on #315
i haven't had a chance to get back to this. its been really busy. I have a little time this weekend. I'll try upgrading and testing again.

[2021-03-06 17:25] JanDeDobbeleer commented on #315
@silverqx unfortunately, that's more related to git than oh-my-posh. There is some offset between running directly in the shell vs running it from go, but not seconds. We could omit status as that one's taking up the time, but then again, you don't want that everywhere. If someone can point me to an OSS git repo that has this issue, I'll gladly see if we can speed things up a bit, but we already d

[2021-03-06 19:47] silverqx commented on #315
thank you for the clarification, I'm going to try to clone the problematic repo, ...

Ok I have tried clone my [repo](git@github.com:silverqx/dotfiles.git) and I can not reproduce the problem on a freshly cloned repo 🤔, so I compressed it and attached it here:
[dotfiles.zip](https://github.com/JanDeDobbeleer/oh-my-posh/files/6095978/dotfiles.zip)

I absolutely don't know what can cause this issue,

[2021-03-07 13:52] JanDeDobbeleer commented on #315
@silverqx chances are my latest release resolves this. We now no longer update the index which could've been the issue due to it being locked. That also explains why it happens for some people but not all.

[2021-03-07 14:56] silverqx commented on #315
Thx, I see you have added `--no-optional-locks` parameter, but it didn't help, I tried `3.106.4` version now, still above 2 seconds, you can add timers to the source code and catch up function which consumes the most time, this way you can track it nicely.

It has nothing to do with the size of the repository, because I have some huge repositories like `qBittorrent`, `libtorrent` or some internal

[2021-03-07 15:00] silverqx commented on #315
I'm sure that `3.106.4` is loaded, I checked it by `Get-Command -CommandType Function -Module oh-my-posh` command, which also displays version numbers, just for the record. 🙂

[2021-03-07 15:09] silverqx commented on #315
This is my git version `git version 2.30.1.windows.1` and I'm attaching `.gitconfig`, maybe you will see something there, nothing special though, I substituted sensitive info.

[gitconfig.txt](https://github.com/JanDeDobbeleer/oh-my-posh/files/6097340/gitconfig.txt)

[2021-03-07 15:26] JanDeDobbeleer commented on #315
@silverqx I can't reproduce your repo being slow on my machine:

- 47ms on macOS
- 101ms on Windows (VM)

Your config also doesn't show something that rings a bell either.

<img width="1353" alt="image" src="https://user-images.githubusercontent.com/2492783/110245047-fc840d80-7f61-11eb-9da4-4298c77ca5ca.png">

[2021-03-07 15:39] silverqx commented on #315
It looks like this at my side:
![Screenshot 2021-03-07 163739](https://user-images.githubusercontent.com/86900/110245461-81235b80-7f63-11eb-8eb8-46d9f61b7a57.jpg)

If you send me a modified exe with timers code added, I can execute it on my side, otherwise I don't know how to help. @JanDeDobbeleer

[2021-03-07 15:43] silverqx commented on #315
Simple debug timers that outputs ms to the console in functions which can cause this, if you will have some time let me know, I can help with this.

[2021-03-07 15:46] JanDeDobbeleer commented on #315
@silverqx There's something noticeably different about your prompt vs mine. According to what I see, you have a repo without commits (notice the bottle).

What's the output when you run `git --no-optional-locks -c core.quotepath=false -c color.status=false status -unormal --short --branch`

[2021-03-07 15:52] JanDeDobbeleer commented on #315
@silverqx I found the issue. You have a `git.cmd` file inside the `bin` folder. That one's interpreted as an executable which is why the output doesn't work anymore. When running git directly it works, but from go we're stuck at that would-be executable. You can validate this by renaming that file.

[2021-03-07 16:24] silverqx commented on #315
fhdjkslkasdfh wtf 😈😁😂, what is doing this peace of xyz here 😎, `git.cmd` omg, I can't find out how did you discover this 😲

![Screenshot 2021-03-07 172120](https://user-images.githubusercontent.com/86900/110246858-94d1c080-7f69-11eb-990b-db3bdee06892.jpg)

Now it looks amazing `115ms`, I'm happy going to use `oh-my-posh v3`, thank you for your time ⌚🙏 @JanDeDobbeleer

[2021-03-07 17:19] JanDeDobbeleer commented on #315
@silverqx actually I think you helped identify an issue more users are experiencing (we were also never able to reproduce this). If you happen to have a `git.cmd` in your PATH that takes precedence over `git.exe`, you're in for a ride.

[2021-03-08 18:25] ormico commented on #315
I have 2 computers that I'm running oh-my-posh on. one is a work computer and one is personal but they are pretty similar.

on my personal computer, the latest oh-my-posh runs really fast and is nice.

on my work computer, the latest version is still really slow. To just press enter and get a new line takes a/b 3 seconds.  Not in a git folder either. Just any random folder on my hard drive. removi

[2021-03-08 18:29] JanDeDobbeleer commented on #315
@ormico are you sure there's not something like Microsoft Defender actively trying to mess with executables being ran it doesn't trust?

To exclude that use case, you can [add a rule](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/configure-process-opened-file-exclusions-microsoft-defender-antivirus) to Defender to leave executables from the powers

[2021-03-08 19:11] ormico commented on #315
the work machine has a different AV solution and we tried looking into that and experimenting with settings. it doesn't appear that is the cause but its always possible.

[2021-03-08 19:51] JanDeDobbeleer commented on #315
@ormico if the screenshot from above is oh-my-posh running on that machine, the machine itself is slowing down the execution.

[2021-05-08 18:25] wtfzambo commented on #133
Sorry for reopening this, but I'm facing a somewhat similar problem as @MythreyaK as I don't know how to address.

When using conda, one is supposed to run `conda init powershell`, after installation.
This modifies powershell $profile, adding a line at the botton that runs a couple of scripts. Among other things, this adds `(env_name)` to the beginning of the prompt and sets an env variable that d

[2021-05-08 18:58] MythreyaK commented on #133
@wtfzambo Try this, *outside* a conda env
[code]

Restart powershell. Should fix the issue.

[2021-05-12 10:20] wtfzambo commented on #133
@MythreyaK tried that, both at beginning and end of my powershell profile, but nothing changed somehow. I resorted to editing `Conda.psm1` manually inside the condabin directory.

Not the most ideal solution tho.

[2021-05-12 10:46] JanDeDobbeleer commented on #133
@wtfzambo this is an issue that should be raised at Conda. They need to adjust their powershell script to allow disabling this.

[2021-05-12 12:09] MythreyaK commented on #133
Oh @wtfzambo my apologies, that snippet was for a different vnev management tool.

From the `conda.psm1` [here](https://github.com/conda/conda/blob/ed96a06244eb820781dc872eb381f51b95ee48ae/conda/shell/condabin/Conda.psm1#L277-L284), I think removing the env variable should do, by setting the `CONDA_PROMPT_MODIFIER` to `null`, `$env:CONDA_PROMPT_MODIFIER=$null`. But this won't work if the script se

[2021-05-12 16:46] JanDeDobbeleer commented on #133
@MythreyaK we can set env vars in the bootstrap but that still doesn't guarantee anything. There's also zero consistency when it comes to Pythons stack and this specific issue, making it even more challenging.

[2021-05-12 17:18] MythreyaK commented on #133
I was thinking of suggesting a pull-request to conda, similar to how they check for `POWERLINE_COMMAND` in posix shells. Since `oh-my-posh` seems to handle all python env tooling and modifies the prompt accordingly, conda can just skip setting the prompt if some check is satisfied. Using some env var could do.

[2021-05-13 20:37] dmcgowan2 commented on #273
@JanDeDobbeleer The misinterpretation likely comes from the instruction at bottom of this page - https://ohmyposh.dev/docs/windows

[2021-05-14 04:42] JanDeDobbeleer commented on #273
@dmcgowan-dev in the meantime those docs have been restructured implying that if you follow the page you mention you now actually have oh-my-posh as an executable.

[2021-05-14 08:51] dmcgowan2 commented on #273
@JanDeDobbeleer yes, and using the executable works fine. Thanks.

[2021-05-16 16:53] JanDeDobbeleer commented on #128
@fdncred I noticed nu lso can't handle a right aligned prompt. I get the same weird behaviour. This would imply it's an issue with nu.

[2021-05-16 17:25] JanDeDobbeleer commented on #133
@MythreyaK added.

[2021-05-17 21:02] fdncred commented on #128
@JanDeDobbeleer I'm trying to reproduce the error in nushell version 0.31.1 and I'm not having much luck. Maybe i'll run with omp v3.150.2 for a few days and see what happens.

[2021-05-19 16:25] wtfzambo commented on #133
So, I did `Update-Module oh-my-posh` after that commit but I'm still facing that issue with Anaconda (env) appearing before the powerline. Is it supposed to fix it or am I missing something?

[2021-05-19 18:13] JanDeDobbeleer commented on #133
@wtfzambo we can't fix this on our end. If, and that's a big if, the specific tooling you use respects the env vars, it will not show. Otherwise you need to look at the specific logic inside the .ps1 used for your conda env to see if there's a way to disable it.

[2021-05-19 20:00] MythreyaK commented on #133
@wtfzambo we'll update you once the fix is tested.

[2021-05-20 12:33] wtfzambo commented on #133
**EDIT as of 2022-04-05**:

I seem to have fixed the problem by setting `changeps1: false` in .condarc.
To do it from the CLI: `conda config --set changeps1 false`
Conda version: 4.11.0

-----------

@JanDeDobbeleer @MythreyaK

I see!

I was under the (mistaken) assumption that the above commit would address this issue. No big deal, I'll just edit `conda.psm1` to just not print the env in the prom

[2021-05-20 12:56] JanDeDobbeleer commented on #133
I can also set `ONDA_PROMPT_MODIFIER` to `false`

[2021-05-25 15:28] fdncred commented on #128
looks fixed to me. i guess we'll wait and see if anyone else complains. thanks!

[2021-07-28 23:03] Balrrach commented on #305
Hello. The program runs very smothly(almost instantaneously) when outside a git repository, but as soon as I enter a git repository(ir doesn't matter how big or small it is) it gets slow taking more than 300ms to execute on average wich is noticible. An example can be seen in the picture below:
![slow2](https://user-images.githubusercontent.com/35852847/127406770-49537d31-a6d9-46b2-98e6-924dc57a08

[2021-07-28 23:45] amoldeshpande commented on #305
If it is the same in all repos regardless of size, it might be that your version of git is too old. They incorporated some caching in Git For Windows at some point to make the performance better.

as I said above, find out how long `git status` takes to run in your repo, add 40-50ms for `go` overhead on Windows and that will be your lower bound.  posh might spawn more than 1 git command, so presum

[2021-07-29 10:53] Balrrach commented on #305
I'm in the last version of git-for-windows and this is how long it takes git status:
![slow3](https://user-images.githubusercontent.com/35852847/127479722-dfefa475-b8dc-4b68-9093-d83cfc69cf1d.png)

The sum doesn't add to 300 ms

[2021-07-29 12:08] amoldeshpande commented on #305
Apologies, turns out my version of posh is very old. When I tried out the current version, it has performance regression you are describing.

[code]

The one `I:` is the current version, the one in `c:` is 3.70.

Anyway, I don't know the repo protocol about reopening issues, so you may be better off filing a new one.

[2021-07-29 12:40] Balrrach commented on #305
Ok

[2021-09-02 23:39] rducom commented on #172
workaround : add `cls` in your `$PROFILE` (and still use `-NoLogo`)

[2021-10-23 10:10] LemuelKL commented on #172
Still having this issue with 5.12.1. Using @rducom 's workaround for now.

[2021-10-23 14:09] JanDeDobbeleer commented on #172
@LemuelKL yes as it's a Windows Terminal bug we can't fix that 😁

[2021-10-29 06:09] MendelMonteiro commented on #126
This seems to have regressed in (at least) versions 5.12.1 and 5.16.2.

[2021-10-29 06:33] lnu commented on #126
Strange, I just tried and autocomplete is still working with the latest version. What do you experience? same behaviour?

[2021-10-29 06:49] MendelMonteiro commented on #126
Same behaviour - with Posh-Git 1.0.0 - installed via `Install-Module`

[2021-10-29 07:22] lnu commented on #126
can you check the result of `$env:POSH_GIT_ENABLED -eq $true -and (Get-Module -Name "posh-git")` and `Get-GitStatus`?
https://github.com/JanDeDobbeleer/oh-my-posh/blob/27d324441be2c35fc905557ece4bdfb1f516273d/src/init/omp.ps1#L48

[2021-10-29 07:22] JanDeDobbeleer commented on #126
@MendelMonteiro what does `$env:POSH_GIT_ENABLED` say?

[2021-10-30 12:02] MendelMonteiro commented on #126
Ok, sorry for wasting your time.  I hadn't seen [this page](https://ohmyposh.dev/docs/poshgit) in the docs and as it was not mentioned in this issue I didn't think that I had missed any steps.

After setting `$env:POSH_GIT_ENABLED = $true` in my `$PROFILE` the posh-git completion works as expected.

[2021-11-12 08:13] tommasodotNET commented on #172
I think it's related so I'm going to share this issue as well. If you set transparency effects on Win Terminal, this is how the spaces between segments won't pick up the transparency:
![image](https://user-images.githubusercontent.com/12819039/141433293-9bb075e8-0395-45db-8edc-ba87d46c2023.png)

[2021-11-12 09:35] JanDeDobbeleer commented on #172
@tommasodotNET yes, Windows Terminal does not support inverted ANSI yet. That's on [their](https://github.com/microsoft/terminal/issues/7014) end.

[2021-11-28 18:12] JanDeDobbeleer commented on #55
Alacritty issue, closing this due to ago. See alacritty/alacritty#4794 for context.

[2022-01-03 22:40] jcwilkes commented on #305
@JanDeDobbeleer Have we considered @amoldeshpande suggestion to use `-uno` instead of `-unormal` in `git status`?

[2022-01-03 22:45] JanDeDobbeleer commented on #305
@jcwilkes I did, but then we'd lose all untracked info. We could make that configurable though.

[2022-02-07 22:56] mateusmedeiros commented on #335
@JanDeDobbeleer Thank you very much for taking the time to describe that workaround even though the issue itself was deemed outside the scope of `oh-my-posh` by you. It gave me the last piece I needed to make it work the way I wanted.

Just dropping this comment to say that, for me, a slightly less hacky workaround was to call `[Microsoft.PowerShell.PSConsoleReadLine]::InvokePrompt()` (which is de

[2022-02-08 06:18] JanDeDobbeleer commented on #335
@mateusmedeiros it did, I just didn't know it at the time. We now also use it for transient prompt.

[2022-02-18 10:46] roachsinai commented on #335
@mateusmedeiros thanks for your post, helps a lot.

But seems there is something wrong for me, as I wanna show `<<<` on rprompt after press ESC (then $env:SHELL_VI_PROMPT will be set to `<<<`), so I add

[code]

to my custom omp.json but pwsh show nothing after I press ESC.

@JanDeDobbeleer Any suggestions will be very helpful, thanks.

My omp is lastest, just update today.

[2022-02-18 18:52] JanDeDobbeleer commented on #335
@roachsinai the text segment was altered lately so you first have to adjust it as follows:

[code]

[2022-02-19 01:29] roachsinai commented on #335
@JanDeDobbeleer works, thanks a lot!!!

[2022-03-29 09:16] apapiccio commented on #305
I have been using oh my posh 3 for a while now on other systems but I got a new work laptop today and went through the install procedures on the web site using the Admin Powershell method to install the modules.  When I then try and set any posh prompt theme it takes a very long time e.g. 20303ms and sometimes more. All commands in the terminal and then very slow

When I add the import and set-pos

[2022-03-29 10:29] JanDeDobbeleer commented on #305
@apapiccio can you validate if Windows Defender (or any other scanning tool) isn't blocking the execution of oh-my-posh?

[2022-03-29 10:31] apapiccio commented on #305
I'll check that out and let you know

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jan De Dobbeleer ***@***.***>
Sent: Tuesday, March 29, 2022 6:29:11 PM
To: JanDeDobbeleer/oh-my-posh ***@***.***>
Cc: Angelo Papiccio ***@***.***>; Mention ***@***.***>
Subject: Re: [JanDeDobbeleer/oh-my-posh] Performance: Command execution slow on Windows (#305)

@apapiccio

[2022-04-03 08:04] manmartgarc commented on #133
Thanks @wtfzambo, that fix does work but you're right. It breaks on update. @JanDeDobbeleer just to make sure I understand, this is a problem on conda's side? Is there any sort of workaround that can be done on this side?

[2022-04-03 08:06] JanDeDobbeleer commented on #133
It's completely in conda's hands to nog override a prompt when certain variables are set. I already added everything I could, they have to allow a switch upstream (I could propose a PR for that).

[2022-04-04 11:22] JanDeDobbeleer commented on #133
@manmartgarc according to [this](https://github.com/conda/conda/blob/ad6fcd7dd09485286f60d8bd6d03cf9813234027/conda/shell/condabin/Conda.psm1#L272), you should be able to set `$CondaModuleArgs.ChangePs1 = $false` in your `$PROFILE` to stop conda from messing with your prompt.

[2022-04-04 16:33] manmartgarc commented on #133
Oh! I will try that today and let you know how it works out. Thanks!

[2022-04-04 18:34] manmartgarc commented on #133
I am getting this error:

![image](https://user-images.githubusercontent.com/29613324/161608974-072066ee-cf40-4671-9786-7c0db6121a56.png)

I am guessing that the `$CondaModuleArgs` object is created inside the `Conda.ps1` script?

[2022-04-04 18:35] JanDeDobbeleer commented on #133
@manmartgarc could be true.

[2022-04-04 18:49] manmartgarc commented on #133
Yeah, it's actually hardcoded in `conda-hook.ps1` and passed as an argument. I tried setting line 6 to:

But nothing changes 🤔 . I'll keep using @wtfzambo's fix for now.

[2022-04-05 15:07] wtfzambo commented on #133
@JanDeDobbeleer , @manmartgarc , hey, I just saw the notification. I seem to have fixed the problem by setting `changeps1: false` in .condarc. To do it from the CLI: `conda config --set changeps1 false`. I am currently not using omp, but I don't think it matters as for what regards this specific issue.

Conda version: 4.11.0.

See attached screen:

![image](https://user-images.githubusercontent.co

[2022-04-05 18:57] manmartgarc commented on #133
This works! 👏

[2022-04-29 13:57] thomasmuders-imtf commented on #305
Hi @JanDeDobbeleer

Today I upgraded oh-my-posh (don't remember from which version unfortunately) from the module-based version to the exe based version. Now it is unusably slow.
Like @apapiccio  when I add the command
`#oh-my-posh init pwsh --config "$env:POSH_THEMES_PATH\powerlevel10k_rainbow.omp.json" | Invoke-Expression`
to the profile it takes ~ 20 seconds to load the profile.
Showing the pro

[2022-04-29 14:13] JanDeDobbeleer commented on #305
@thmudersfc this is 9/10 Defender that blocks the execution of the executable. So having a conversation with the IT team could fix that. Or, and this is an assumption, the Documents folder is excluded from Defender which is why the module (that uses the same executable) wasn't impacted. Not sure if you can have an ask?

[2022-04-29 14:54] thomasmuders-imtf commented on #305
Thanks @JanDeDobbeleer so it is not blocked per se, it works, it is just incredibly slow.
With you hint I moved the file to several different locations where I usually install programs (not Program Files) but that did not make any difference at all. I only don't understand what could probably be the difference.
Debug mode also does not show any slowness inside oh-my-posh

It takes already 2-3 seco

[2022-04-29 14:58] JanDeDobbeleer commented on #305
@thmudersfc if debug doesn't show slowness, it's definitely something on the system blocking the execution.

[2022-04-29 15:01] thomasmuders-imtf commented on #305
@JanDeDobbeleer  Thank you, if needed I will open a ticket with our service desk. or use some sysinternals tools to dig deeper if I find some time The only thing that I did not understand why this happened only after the upgrade.

[2022-04-29 15:12] JanDeDobbeleer commented on #305
@thmudersfc the only reason I can come up with is install location.

[2022-04-29 15:40] amoldeshpande commented on #305
You can try windbg and load the exe in the debugger. If you see dozens of DLLs loaded dynamically at startup, that could be a reason too. I haven’t looked at it in a while but my feeling is that by loading dynamically go bypasses the windows multithreaded loader and causes slow launch times. You can investigate with WPA/WPT as well

[2022-04-29 16:18] JanDeDobbeleer commented on #305
@amoldeshpande we have a static build normally. But that's something I could look into (even if I'm pretty sure it's not that).

[2022-04-29 18:16] amoldeshpande commented on #305
Well I don’t think the static build will do anything unless the go linker explicitly links with all the Windows import libraries it needs. Static builds are meaningless in windows except for the c library, which i assume go doesn’t need anyway.

A normal, well behaved windows application will link with system import libs for kernel32 user32 advapi32 ws2_32 etc. when such an application starts, the

[2022-04-30 00:24] apapiccio commented on #305
The slow load times I was experiencing turned out to be MS Defender ATP in the end. for whatever reason it was causing some intensive scanning. After we reported this to MS Support the following day we saw Defender ATP no longer was blatting it and the prompt profile came up in the expected time.

All back to normal now.

[2022-05-03 06:14] thomasmuders-imtf commented on #305
@apapiccio  Thank you for reporting this to Microsoft! So it turns out for me the culprit was also Defender ATP as today, it is behaving normally again! ❤

[2022-05-06 17:27] adam-grant-hendry commented on #315
Is there a way to turn off `ConsoleTitle`?

![image](https://user-images.githubusercontent.com/59346180/167182367-823736eb-abf8-4831-a49b-fd864d5506ca.png)

[2022-05-06 18:09] JanDeDobbeleer commented on #315
@adam-grant-hendry yes, you can edit the [config](https://ohmyposh.dev/docs/configuration/title). Removing those settings will also no longer run that logic. It's a bit strange as to why that takes so much time though.

[2022-05-06 18:54] adam-grant-hendry commented on #315
@JanDeDobbeleer I commented out the 1 line in your "jandedobbeleer.omp.json" with a `console` argument

[code]

and it still runs slow with the console title as the culprit:

![image](https://user-images.githubusercontent.com/59346180/167200438-9e1f13c8-307c-499e-a81d-d7ffc411865d.png)

[2022-05-06 19:03] adam-grant-hendry commented on #315
Also, if that's the only `console` line, why is `ConsoleTitle` still showing up as `true`...?

[2022-05-06 19:06] JanDeDobbeleer commented on #315
@adam-grant-hendry could it be you're editing the wrong file? Either way, I'll check tomorrow. Debug actually doesn't seem to care about the template being there or not, I'll for sure already fix that. For my information, can you copy-paste the entire debug output? A screenshot is tricky to work with and I'm really curious is what's below the timing.

[2022-05-06 20:08] adam-grant-hendry commented on #315
My `$PROFILE` is

[code]

and the `POSH_THEMES_PATH` environment variable is

[code]

So the file I edited is

[code]

which I'm assuming is correct.

Yes, please see the attached:

[debug.txt](https://github.com/JanDeDobbeleer/oh-my-posh/files/8643346/debug.txt)

[2022-05-06 20:09] adam-grant-hendry commented on #315
Note that the above slowness is occurring both in git folders and non-git folders.

[2022-05-06 20:27] JanDeDobbeleer commented on #315
@adam-grant-hendry allow me to add some more meaningful logging as the 700 is surely not related to the console title.

[2022-05-12 15:25] hyoretsu commented on #172
That works. Though it's strange how running Windows Terminal as administrator also fixes it.

[2022-05-19 05:59] slice-shikharr commented on #61
JFYI, still facing this issue in 2022 with default Terminal app on macOS Monterey 12.3.1

**Environment**

Oh my Posh version: 7.85.2
Theme: Example from docs.
Operating System: macOS Monterey 12.3.1
Shell: Bash
Terminal: Mac Terminal

[2022-05-19 06:01] JanDeDobbeleer commented on #61
I know. And it's still a terminal configuration issue :-)

[2022-05-19 13:29] tillig commented on #61
I've been on [iTerm2](https://iterm2.com/) since this issue and have never looked back. Highly recommended.

[2022-11-25 03:04] jgarza9788 commented on #239
no python files in my .config folder.
and the display_mode is set to files.
...seems like this is still a bug for me.

OS: Windows
Shell: Powershell
oh-my-posh: 12.18.3

<img width="1258" alt="Screenshot 2022-11-24 220007" src="https://user-images.githubusercontent.com/8079550/203891905-aa6c344e-d773-4603-9099-21025f6021cc.png">

[2022-11-25 05:34] JanDeDobbeleer commented on #239
@jgarza9788 `display_mode` needs to be in the [properties block](https://ohmyposh.dev/docs/configuration/segment#properties), not at segment root level.